//- iframe for FT.com (falcon)
html
	head
		title Brexit iFrame
		base(target='_parent')
		style
			include ../../../client/brexit/iframe.css
	body
		div
			include summary-card.jade

		script.
			function fixHeight() {
				setTimeout(function () {
					frameElement.height = document.querySelector('.ig-metacard__container').offsetHeight + 5;
				}, 0);
			}

			document.addEventListener('DOMContentLoaded', fixHeight);
			window.onload = function () {
				fixHeight();
				setTimeout(fixHeight, 1000);
			};
