//- just for previewing in development - this layout mimics the Next stream page's outer layout and styles so we can see how the card looks when inlined.

html
	head
		title Brexit card preview

		link(rel='stylesheet' href='https://next-geebee.ft.com/hashed-assets/stream-page/c157ccde/main.css')

		style.
			body {background: #fff1e0}

	body
		p Element previews: Britain's EU Referendum | <a href="../us-election-2016/preview.html">US Election 2016</a> | <a href="../ai-robotics/preview.html">Robot Week</a>
		.stream.o-grid-container
			h1 Brexit inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include _expandable-card.jade

			h1 Brexit summary inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include summary-card.jade

			h1 Brexit guide inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include guide.jade

		script(src='https://origami-build.ft.com/v2/bundles/js?modules=o-expander@^2.0.1')
