style
	include ../../../client/brexit/card.css
	include ../../../client/brexit/summary.css

aside.ig-metacard__container.ig-metacard__container--paper(data-trackable='topic-summary')
	.ig-metacard__inner.ig-metacard__inner--topic-summary
		include _summary.jade
