style
	include ../public/card.css
	include ../public/card-topic-guide.css

aside.ig-metacard__container.ig-metacard__container--tint
	.ig-metacard__inner.ig-metacard__inner--topic-guide
		section.ig-metacard__content
			include _card-content-topic-guide.jade
