style
	include ../public/card.css
	include ../public/card-topic-summary.css

aside.ig-metacard__container.ig-metacard__container--paper(data-trackable='topic-summary')
	.ig-metacard__inner.ig-metacard__inner--topic-summary
		include _card-content-topic-summary.jade
