style
	include ../public/card.css
	include ../public/card-bottom.css

div.section__column.section__column--meta
	aside.section-meta
		h2.section-meta__title= videoTitle

aside.ig-metacard.bottom
	.ig-metacard__inner
		section.content
			include _card-content-bottom.jade
