aside.ig-metacard
	style
		include ../public/card.css

	h1.ig-metacard__heading What you need to know
	.ig-metacard__date
		<span>UPDATED:</span> FEBRUARY 15, 2016

	.ig-metacard__main
		.ig-metacard__summary
			p David Cameron is heading to a two-day European Council meeting hoping to seal <a href="http://www.ft.com/cms/s/0/ac61ef9a-d3ed-11e5-829b-8564e7528e54.html">a “new settlement”</a> on Britain’s relationship with the EU.
			p The deal's outline was <a href="http://www.ft.com/intl/cms/s/0/f7604f02-c9a0-11e5-a8ef-ea66e967dd44.html">made public</a> earlier. Agreement at this summit will lead to an in-out referendum, mostly likely on June 23.

		.ig-metacard__charts
			each svg, gridSize in pollCharts
				div(class='ig-metacard__chart ig-metacard__chart--' + gridSize)
					!= svg

			p
				a.ig-metacard__polling-link(href='https://ig.ft.com/sites/brexit-polling/') More polling
