aside.ig-metacard
	style
		include ../public/card.css

	h1.ig-metacard__heading What you need to know
	.ig-metacard__date
		<span>UPDATED:</span> FEBRUARY 10, 2016

	.ig-metacard__main
		.ig-metacard__summary
			p The outline of a deal to keep Britain in the EU has been released. David Cameron in now launching a political campaign to sell the plan, the most controversial aspect of which is the restriction of welfare payments to migrants.

		.ig-metacard__charts
			each svg, gridSize in pollCharts
				div(class='ig-metacard__chart ig-metacard__chart--' + gridSize)
					!= svg

			p
				a.ig-metacard__polling-link(href='https://ft-ig-brexit-polling.herokuapp.com/') More polling
