//- just for previewing in development - this layout mimics the Next stream page's outer layout and styles so we can see how the card looks when inlined.

html
	head
		title Brexit card preview

		link(rel='stylesheet' href='https://next-geebee.ft.com/hashed-assets/stream-page/15aa8ebd/main.css')

		style.
			body {background: #fff1e0}

	body
		.stream.o-grid-container
			h1 full card inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include card.jade

			h1 top card inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include card-top.jade

			h1 bottom card inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include card-bottom.jade


		.stream.o-grid-container
			h1 iframe preview (for old FT)
			iframe(src='iframe.html' width='972' height='330' scrolling='no' frameborder='0')

		script(src='https://build.origami.ft.com/v2/bundles/js?modules=o-expander@^2.0.1')
