@import 'o-grid/main';
@import 'mixins';

.ig-summary-card--layout-a {
  @include card($bg-color: transparent, $text-color: #111);
  padding: 0;

  &__body {
    margin-top: 0;

    @include oGridRespondTo($until:S) {
      margin-top: 10px;
    }

    a {
      color: #27757b;
      border-bottom: 1px dotted #27757b;
      text-decoration: none;
    }

    p {
      font-family: 'FinancierDisplayWeb', serif;
      font-size: 18px;
      line-height: 1.2;

      @include oGridRespondTo(L) {
        font-size: 21px;
        line-height: 1.2;
      }

      @include oGridRespondTo(XL) {
        font-size: 24px;
      }
    }
  }

  &__title {
    font-size: 28px;

    @include oGridRespondTo($until:L) {
      font-size: 20px;
    }
  }

  &__image {
    width: 40%;

    @include oGridRespondTo($until:S) {
      width: 100%;
      margin-bottom: 15px;
    }

    @include oGridRespondTo(L) {
      padding-right: 15px;
      width: 50%;
    }
  }

  &__image + &__content {
    margin-left: 40%;
    width: 60%;

    & :first-child {
      margin-top: 0;
    }

    @include oGridRespondTo($until:S) {
      width: 100%;
      margin-left: 0;
    }

    @include oGridRespondTo(L) {
      padding-left: 15px;
      margin-left: 50%;
      width: 50%;
    }
  }
}
