@import 'o-grid/main';
@import 'mixins';

.ig-summary-card--layout-b {
  @include card($bg-color: #dddddd, $text-color: #333);

  &__kicker {
    color: #cd2600;
    text-transform: none;
  }

  &__kicker,
  &__title {
    font-family: 'MetricWeb', sans-serif;
    display: inline;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }

  &__kicker {
    margin-right: 10px;
  }
}
