h1.ig-us-election-2016__heading= heading
.ig-us-election-2016__date
	<span>UPDATED: </span>
	= updated

.ig-us-election-2016__main
	.ig-us-election-2016__summary(data-trackable='summary')
		!= text

	.ig-us-election-2016__charts
		h2 The race for nomination
		| CHART

	.ig-us-election-2016__video-container
		h2 Explainer
		.ig-us-election-2016__video
