h1.ig-us-election-2016__heading= "Test Heading for US Election"
.ig-us-election-2016__date
	<span>UPDATED: </span>
	= updated

.ig-us-election-2016__main
	.ig-us-election-2016__summary(data-trackable='summary')
		!= text

	.ig-us-election-2016__charts
		| CHART

