h1.ig-metacard__heading= "Test Heading for US Election"
.ig-metacard__date
	<span>UPDATED: </span>
	= "Just now"

.ig-metacard__main
	.ig-metacard__summary(data-trackable='summary')
		!= "text"

	.ig-metacard__charts
