//- just for previewing in development - this layout mimics the Next stream page's outer layout and styles so we can see how the card looks when inlined.

html
	head
		title US Election 2016 card preview

		link(rel='stylesheet' href='https://next-geebee.ft.com/hashed-assets/stream-page/ec0b295a/main.css')

		style.
			body {background: #fff1e0}

	body
		p Element previews: <a href="../metacard/preview.html">Britain's EU Referendum</a> | US Election 2016
		.stream.o-grid-container
			h1 US Election 2016 summary inline preview (for Next)

			#stream
				.stream__container
					.stream__list.js-stream-list
						.stream-item.stream-item--row
							.custom-fragment
								.custom-fragment__content
									include summary-card.jade
