style
	include ../../public/us-election-2016/card.css
	include ../../public/us-election-2016/summary.css

aside.ig-metacard__container.ig-metacard__container--paper(data-trackable='topic-summary')
	.ig-metacard__inner.ig-metacard__inner--topic-summary
		include _summary.jade
