h1.ig-us-election-2016__heading= heading
.ig-us-election-2016__date
	<span>UPDATED: </span>
	= updated

.ig-us-election-2016__main
	.ig-us-election-2016__summary(data-trackable='summary')
		.ig-us-election-2016__summary-text
			!= text
		.ig-us-election-2016__summary-secondary-text
			!= secondaryText

	.ig-us-election-2016__charts
		h2= chartTitle
		.ig-us-election-2016__democrat
			.ig-us-election-2016__chart-legend
				| Democratic delegates
				span.ig-us-election-2016__d-delegates-symbol
				| Superdelegates
				span.ig-us-election-2016__d-superdelegates-symbol
			.ig-us-election-2016__total-to-win-label-container(style='width: calc(100% - 50px);')
				.ig-us-election-2016__total-to-win-label(style='width:'+(democratTotalToWin/democrat100Percent)*100+'%;')
					= democratTotalToWin.toLocaleString()
					| &nbsp;to win
			.ig-us-election-2016__first-place
				.ig-us-election-2016__candidate-label
					= democratFirstCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data.ig-us-election-2016__result-data--pledged(style='width:'+(democratFirstCandidatePledgedDelegates/democrat100Percent)*100+'%;')
					.ig-us-election-2016__result-data.ig-us-election-2016__result-data--super(style='width:'+(democratFirstCandidateSuperdelegates/democrat100Percent)*100+'%;')
					.ig-us-election-2016__total-to-win-line(style='width:'+(democratTotalToWin/democrat100Percent)*100+'%;')
			.ig-us-election-2016__second-place
				.ig-us-election-2016__candidate-label
					= democratSecondCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data.ig-us-election-2016__result-data--pledged(style='width:'+(democratSecondCandidatePledgedDelegates/democrat100Percent)*100+'%;')
					.ig-us-election-2016__result-data.ig-us-election-2016__result-data--super(style='width:'+(democratSecondCandidateSuperdelegates/democrat100Percent)*100+'%;')
					.ig-us-election-2016__total-to-win-line(style='width:'+(democratTotalToWin/democrat100Percent)*100+'%;')

		.ig-us-election-2016__republican
			.ig-us-election-2016__chart-legend
				| Republican delegates
				span.ig-us-election-2016__r-delegates-symbol
			.ig-us-election-2016__total-to-win-label-container(style='width: calc(100% - 50px);')
				.ig-us-election-2016__total-to-win-label(style='width:'+(republicanTotalToWin/republican100Percent)*100+'%;')
					= republicanTotalToWin.toLocaleString()
					| &nbsp;to win
			.ig-us-election-2016__first-place
				.ig-us-election-2016__candidate-label
					= republicanFirstCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(republicanFirstCandidateDelegates/republican100Percent)*100+'%;')
					.ig-us-election-2016__total-to-win-line(style='width:'+(republicanTotalToWin/republican100Percent)*100+'%;')
			.ig-us-election-2016__second-place
				.ig-us-election-2016__candidate-label
					= republicanSecondCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(republicanSecondCandidateDelegates/republican100Percent)*100+'%;')
					.ig-us-election-2016__total-to-win-line(style='width:'+(republicanTotalToWin/republican100Percent)*100+'%;')

			.ig-us-election-2016__third-place
				.ig-us-election-2016__candidate-label
					= republicanThirdCandidate
				.ig-us-election-2016__candidate-result
					.ig-us-election-2016__result-data(style='width:'+(republicanThirdCandidateDelegates/republican100Percent)*100+'%;')
					.ig-us-election-2016__total-to-win-line(style='width:'+(republicanTotalToWin/republican100Percent)*100+'%;')

		p.ig-us-election-2016__more-polling
			a(href=morePollingLinkURL)
				= morePollingLinkText

	//- .ig-us-election-2016__video-wrapper
	//- 	h2= videoTitle
	//- 	if isBrightcove
	//- 		.ig-us-election-2016__video-placeholder(data-n-components='n-video'
	//- 			data-trackable='video'
	//- 			data-n-video-source='brightcove'
	//- 			data-n-video-id=video)
	//- 	else
	//- 		.ig-us-election-2016__video-placeholder(data-n-components='n-video'
	//- 			data-trackable='video'
	//- 			data-n-video-source='youtube'
	//- 			data-n-video-id=video)
