style
	include ../../../client/us-election-2016/card.css
	include ../../../client/us-election-2016/summary.css

aside.ig-us-election-2016__container.ig-us-election-2016__container--paper(data-trackable='topic-summary')
	.ig-us-election-2016__inner.ig-us-election-2016__inner--topic-summary
		include _summary.jade
