@import 'o-grid/main';

.ig-ai-robotics__container {
	.n-myft-ui {
		@include oGridRespondTo(M) {
			margin-top: 10px;
			margin-bottom: 70px;
			animation-name: follow-spin;
			animation-iteration-count: 1;
			animation-duration: 3s;
		}
		@include oGridRespondTo(L) {
			margin-bottom: 90px;
		}
	}

	@keyframes follow-spin {
		from {
			transform: rotateY(180deg);
		}
		66% {
			transform: rotateY(180deg);
		}
		to {
			transform: rotateY(0deg);
		}
	}
}
