@import 'o-grid/main';

.robot__head {
	display: block;
	padding-top: 45px;
	@include oGridRespondTo(S) {
		padding-top: 0;
	}
}

.robot__eye {
	animation-duration: 4s;
	animation-name: eyes-pulsing;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center center;
	-moz-transform-origin: center center;
}

@keyframes eyes-pulsing {
	from {
		fill: #3FA535;
		transform: scale(2,2);
		-moz-transform: scale(1,1);
	}
	50% {
		fill: #3C3C3B;
		transform: scale(1,1);
		-moz-transform: scale(1,1);
	}
	to {
		fill: red;
		transform: scale(2,2);
		-moz-transform: scale(1,1);
	}
}
