@import 'o-grid/main';
@import 'o-typography/main';
@import 'o-colors/main';

.sub-header--ai-robotics {
	.subheader__section {
		display: none;
	}
}

.stream--ai-robotics {
	.custom-fragment__content {
		margin-top: 0;
	}
}

.ig-ai-robotics__container {
	padding-left: 0;
	padding-right: 0;
}

.ig-ai-robotics {
	position: relative;
	overflow: hidden;

	background-color: oColorsGetPaletteColor('blue-tint1');
	// original background color
	// background-color: #67A4C7;

	&:after {
		clear: both;
		display: block;
		content: "";
	}
}

.ig-ai-robotics__section--heading {
	@include oTypographySans(xl);
	margin-top: 20px;
	padding: 0;
	@include oGridRespondTo(S) {
		margin-top: 40px;
		border-bottom: 2px solid white;
	}
	@include oGridRespondTo(M) {
		border-width: 3px
	}
	@include oGridRespondTo(L) {
		border-width: 4px;
		font-size: 70px;
		line-height: 70px;
	}
}

.ig-ai-robotics__main-heading {
	color: oColorsGetPaletteColor('white');
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	@include oGridRespondTo(S) {
		color: oColorsGetPaletteColor('black');
		padding-right: 66%;
		text-align: left;
	}
	@include oGridRespondTo(M) {
		padding-left: 20px;
	}
}

.ig-ai-robotics__section--subheading {
	@include oGridRespondTo($until: S) {
		padding-left: 0;
		padding-bottom: 45px;
	}
}

.ig-ai-robotics__sub-heading {
	@include oTypographySans(xl);
	line-height: 0.8em;
	color: #f0cc5d;
	text-align: center;
	span {
		display: block;
	}
	@include oGridRespondTo(S) {
		padding-right: 55%;
		text-align: left;
	}
 	@include oGridRespondTo(L) {
		font-size: 70px;
	}
}

.ig-ai-robotics__section--explainer {
	@include oTypographySansData(m);
	line-height: 1.3em;
	font-size: 16px;
	color: white;
	padding-left: 0;

	@include oGridRespondTo(L) {
		font-size: 18px;
	}

	@include oGridRespondTo(XL) {
		@include oTypographySansData(l);
		line-height: 1.3em;
	}
}

.ig-ai-robotics__main-text,
.ig-ai-robotics__sub-text {
	margin: 5px 10px 10px 10px;
	@include oGridRespondTo(M) {
		margin-left: 0;
	}
}

.ig-ai-robotics__sub-text {
	@include oTypographySansSize(m);
	font-weight: 600;

	@include oGridRespondTo(L) {
		@include oTypographySansSize(l);
	}

	@include oGridRespondTo(XL) {
		@include oTypographySansDataSize(xl);
	}
}

.ig-ai-robotics__robot-head {
	z-index: 2;

	@include oGridRespondTo($until: S) {
		@include oGridColspan(12);
		padding-left: 0;
		overflow: hidden;
		max-height: 300px;
	}

	@include oGridRespondTo(S) {
		position: absolute;
		width: 140px;
		right: 20px;
		top: 35px;
	}

	@include oGridRespondTo(M) {
		bottom: -10px;
		width: 35%;
		right: 43%;
		top: inherit;
	}

	@include oGridRespondTo(L) {
		right: 37%;
	}

	@include oGridRespondTo(XL) {
		width: 29%;
	}


}

.ig-ai-robotics__robot-hand {
	display: none;
	position: absolute;
	z-index: 2;
	width: 5%;
	@include oGridRespondTo(M) {
		display: block;
		bottom: -145px;
		left: 11%;
	}
	@include oGridRespondTo(L) {
		bottom: -115px;
		left: 23%;
		transform: rotate(315deg);
		bottom: -155px;
	}
	@include oGridRespondTo(XL) {
		bottom: -200px;
		left: 20%;
	}
}
