@import 'o-grid/main';
@import 'o-typography/main';
@import 'o-colors/main';

.sub-header--ai-robotics {
	.subheader__section {
		display: none;
	}
}

.stream--ai-robotics {
	.custom-fragment__content {
		margin-top: 0;
	}
}

.ig-ai-robotics__container {
	padding-left: 0;
	padding-right: 0;
}

.ig-ai-robotics {
	position: relative;
	// overflow: hidden;

	background-color: #67A4C7;

	&:after {
		clear: both;
		display: block;
		content: "";
	}
}

.ig-ai-robotics__section--heading {
	@include oTypographySerifDisplay(xl);
	margin-top: 20px;
	padding: 0;
	border-bottom: 2px solid white;
	@include oGridRespondTo(M) {
		border-width: 3px
	}
	@include oGridRespondTo(L) {
		border-width: 4px;
		font-size: 70px;
		line-height: 70px;
	}
	@include oGridRespondTo(XL) {
		margin-top: 40px;
	}
}

.ig-ai-robotics__main-heading {
	color: oColorsGetPaletteColor('black');
	padding-left: 10px;
	padding-right: 66%;
	@include oGridRespondTo(M) {
		padding-left: 20px;
	}
}

.ig-ai-robotics__section--subheading {

}

.ig-ai-robotics__sub-heading {
	@include oTypographySerifDisplay(xl);
	color: #f0cc5d;
	padding-right: 55%;
	@include oGridRespondTo(L) {
		font-size: 70px;
		line-height: 70px;
	}
}

.ig-ai-robotics__section--explainer {
	@include oTypographySerifDisplay(s);
	color: white;
	padding-left: 0;

	@include oGridRespondTo(L) {
		font-size: 18px;
		line-height: 24px;
	}

	@include oGridRespondTo(XL) {
		@include oTypographySerifDisplay(m);
		line-height: 28px;
	}
}

.ig-ai-robotics__main-text,
.ig-ai-robotics__sub-text {
	margin: 5px 10px 10px 10px;
	@include oGridRespondTo(M) {
		margin-left: 0;
	}
}

.ig-ai-robotics__sub-text {
	@include oTypographySerifDisplay(m);
	font-weight: 600;

	@include oGridRespondTo(XL) {
		@include oTypographySerifDisplaySize(l);
	}
}

.ig-ai-robotics__robot-head {
	position: absolute;
	z-index: 2;
	width: 120px;
	right: 20px;
	top: 23px;

	@include oGridRespondTo(M) {
		bottom: -10px;
		width: 41%;
		right: 41%;
		top: inherit;
	}

	@include oGridRespondTo(L) {
		right: 34%;
	}

	@include oGridRespondTo(XL) {
		width: 32%;
	}


}

.ig-ai-robotics__robot-hand {
	display: none;
	position: absolute;
	z-index: 2;
	transform: rotate(315deg);
	width: 5%;
	bottom: -95px;
	left: 20%;
	@include oGridRespondTo(M) {
		display: block;
	}
	@include oGridRespondTo(L) {
		bottom: -125px;
	}
	@include oGridRespondTo(XL) {
		bottom: -200px;
	}
}
