$o-grid-layouts: (
	S:  490px,
	M:  740px,
	L:  970px,
	XL: 1220px,
);

@import 'card';
@import 'summary';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: oColorsGetPaletteColor('pink');
	color: oColorsGetPaletteColor('grey-tint5');
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}
