@import 'o-grid/main';
@import 'next-sass-setup/main';
@import 'o-video/main';

$button-color-darker: oColorsGetPaletteColor('blue-2');
$button-color-darker-still: darken($button-color-darker, 3%);

.ig-us-election-2016 {

	&__heading {
		font: normal 26px oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
		text-align: center;
		margin-bottom: 10px;
	}

	&__date {
		text-align: center;
		font-size: 12px;
		color: oColorsGetPaletteColor('warm-6');

		> span {
			color: red;
			margin-right: 0.15em;
		}
	}

	&__main {
		margin: 15px auto 10px;

		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}

	&__summary-text > p,
	&__summary-secondary-text > p {
		font: normal 18px/1.375 oFontsGetFontFamilyWithFallbacks(FinancierTextWeb);
		margin: 0 0 1em;
	}

	&__summary-secondary-text {
		display: none;
	}


	&__summary,
	&__charts {
		margin-top: 10px;

	}

	&__charts {
		font: normal 12px/1 oFontsGetFontFamilyWithFallbacks(MetricWeb);
		position: relative;
	}

	&__chart {
		display: none;
		border-bottom: 0;
		position: relative;
		padding: 0 7px 7px 7px;
	}

	&__more-polling {
		text-align: right;
		font-size: 15px;
		margin: 0;
	}

	&__video-wrapper {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	&__video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;

		iframe {
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include oGridRespondTo($until: S) {
		&__charts { max-width: 100%; }
		&__chart--default { display: block; padding-left: 0; padding-right: 0; text-align: center; }
	}

	@include oGridRespondTo(S, $until: M) {
		&__charts,
		&__video-wrapper {
			margin-top: 20px;
		}

		&__charts { width: 100%; }
		&__chart--S { display: block; padding-left: 0; padding-right: 0; text-align: center; }
	}

	@include oGridRespondTo($until: M) {
		&__main {
			max-width: 500px;
		}
		&__video-wrapper {
			margin-top: 15px;
		}
	}

	@include oGridRespondTo(M) {

		&__summary,
		&__charts,
		&__video-wrapper {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 0 20px;
		}

		&__chart {
			width: auto;
		}

		&__summary-secondary-text {
			display: block;
		}

		&__heading {
			font-size: 30px;
			margin-top: 20px;
		}
	}

	@include oGridRespondTo(M, $until: L) {
		&__summary,
		&__charts {
			width: 50%;
		}

		&__chart--M { display: block; }

		&__video-wrapper {
			clear: both;
			float: none;
			width: 100%;
		}
	}

	@include oGridRespondTo(L) {
		&__summary,
		&__charts,
		&__video-wrapper {
			width: 33%;
		}
	}

	@include oGridRespondTo(L, $until: XL) {
		&__chart--L { display: block; }
	}

	@include oGridRespondTo(XL) {
		&__inner { padding: 0 40px; }
		&__chart--XL { display: block; }
	}

}
