@import 'next-sass-setup/main';
@import 'n-video/main';

$button-color-darker: oColorsGetPaletteColor('blue-2');
$button-color-darker-still: darken($button-color-darker, 3%);

.ig-us-election-2016 {

	&__heading {
		font: normal 26px oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
		text-align: center;
		margin-bottom: 10px;
	}

	&__date {
		text-align: center;
		font-size: 12px;
		color: oColorsGetPaletteColor('warm-6');

		> span {
			color: red;
			margin-right: 0.15em;
		}
	}

	&__main {
		margin: 15px auto 10px;

		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}

	&__summary-text > p,
	&__summary-secondary-text > p {
		font: normal 18px/1.375 oFontsGetFontFamilyWithFallbacks(FinancierTextWeb);
		margin: 0 0 1em;
	}

	&__summary-secondary-text {
		display: none;
	}


	&__summary,
	&__charts {
		margin-top: 10px;
	}

	&__charts {
		font: normal 12px/1 oFontsGetFontFamilyWithFallbacks(MetricWeb);
		position: relative;
	}

	&__chart-party {
		margin-top: 10px;
		&--republican {
			margin-top: 20px;
		}
	}


	&__chart-party-label {
		color: oColorsGetPaletteColor('grey-tint3');
		font-size: 14px;
		margin-bottom: -13px;
	}

	&__total-to-win-label {
		color: oColorsGetPaletteColor('grey-tint3');
		font-size: 13px;
		text-align: right;
		margin-left: 50px;
	}

	&__candidates {
		margin-top: 5px;
	}

	&__candidate {
		border-right: 1px solid oColorsGetPaletteColor('grey-tint2');
		height: 25px;
		position: relative;
		&:after {
			clear: both;
			content: "";
			display: block;
		}
	}

	&__candidate-label {
		font-size: 14px;
		float: left;
		width: 50px;
		text-align: right;
		padding-right: 5px;
		box-sizing: border-box;
		position: absolute;
		top: 5px;
		left: 0;
	}

	&__candidate-result {
		background-color: oColorsGetPaletteColor('blue-2');
		float: right;
		height: 15px;
		width: calc(100% - 50px);
		position: absolute;
		top: 5px;
		right: 0;
	}

	&__result-data {
		height: 100%;
	}

	&__chart-party--democrat &__result-data {
		float: left;
		&--pledged {
			background-color: #273c8f;
		}

		&--super {
			background-color: #768ada;
		}
	}

	&__chart-party--republican &__result-data {
		background-color: #b3244b;
	}

	&__total-to-win-line {
		border-right: 1px dashed oColorsGetPaletteColor('grey-tint2');
		height: 25px;
		position: absolute;
		top: -5px;
	}

	&__chart-legend {
		color: oColorsGetPaletteColor('grey-tint3');
		font-size: 13px;
		font-weight: normal;
		margin: 5px 0 0;
	}

	&__d-delegates-symbol,
	&__d-superdelegates-symbol,
	&__r-delegates-symbol {
		vertical-align: middle;
		margin: 0 4px;
		position: relative;
		top: -1px;
		display: inline-block;
		width: 8px;
		height: 8px;
	}

	&__d-delegates-symbol {
		background-color: #273c8f;
	}

	&__d-superdelegates-symbol {
		background-color: #9eace4;
	}

	&__r-delegates-symbol {
		background-color: #b3244b;
	}

	&__more-polling {
		text-align: right;
		font-size: 15px;
		margin: 0;
	}

	&__video-wrapper {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	&__video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 35px;
		height: 0;
		overflow: hidden;

		iframe {
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include oGridRespondTo($until: S) {
		&__charts,
		&__charts { max-width: 100%; }
	}

	@include oGridRespondTo(S, $until: M) {
		&__charts,
		&__video-wrapper {
			margin-top: 20px;
		}
	}

	@include oGridRespondTo($until: M) {
		&__main {
			max-width: 500px;
		}
		&__video-wrapper {
			margin-top: 15px;
		}
	}

	@include oGridRespondTo(M) {

		&__summary,
		&__charts,
		&__video-wrapper {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 0 20px;
		}

		&__summary-secondary-text {
			display: block;
		}

		&__heading {
			font-size: 30px;
			margin-top: 20px;
		}
	}

	@include oGridRespondTo(M, $until: L) {
		&__summary,
		&__charts {
			width: 50%;
		}
		&__video-wrapper {
			clear: both;
			float: none;
			width: 100%;
		}
	}

	@include oGridRespondTo(L) {
		&__summary,
		&__charts,
		&__video-wrapper {
			width: 33%;
		}
	}

	@include oGridRespondTo(XL) {
		&__inner { padding: 0 40px; }
	}

}
