html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background: oColorsGetPaletteColor('pink');
	color: oColorsGetPaletteColor('grey-tint5');
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}
