// Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg.robot__hand#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='175 266.9 291 303', enable-background='new 175 266.9 291 303', xml:space='preserve')
  g
    g
      path(fill='#DADADA', d='M216.8,315c0,0,2.8-21.2,5.7-24.4c5.8-6.4,15.7,6.7,13.4,16c-0.8,3.4-0.9,4.7-0.7,10.5L216.8,315z')
      path(fill='#DADADA', d='M233.7,307c-1.2,4.4-1.9,9.8-1.9,9.8l-1-0.5c0,0,3.9-15.6,3.7-19.6c0.2,0.4,0.2,0.4,0.3,0.7\
      C235,298.9,234.6,303,233.7,307z')
      path(fill='#DADADA', d='M233.1,316.8c0,0-0.5-4.1,1-9.3c1-3.2,0.8-6.2,1-9.2c1.5,3.6,1.1,6.1,0.7,8.4c-0.8,3.5-0.6,4.1-0.7,10\
      L233.1,316.8z')
      path(fill='#DADADA', d='M219.4,315.9l-3.7-0.5c3.2-12.7,4-21.6,6.9-24.7c1.3-1.4,2.5-2.1,4.8-1.5L219.4,315.9z')
      path(fill='#DADADA', d='M218.5,315.5l-1.9-0.1c2.4-11.3,4.1-24,8-26.3c0.4-0.2,0.9-0.3,1.7-0.2C223,294.7,218.5,315.5,218.5,315.5\
      z')
      path(fill='#DADADA', d='M227.4,289.1c1.1,0.2,3.3,1.7,4.5,3.2c-2.1,11.2-5.9,23-5.9,23l-5.9-1.5\
      C220.1,313.6,222,301.5,227.4,289.1z')
      path(fill='#DADADA', d='M220.4,313.6l-0.8-0.3c0,0,4.1-18.5,7.2-24.2c0.1,0,0.2,0,0.6,0.1C225,294,220.4,313.6,220.4,313.6z')
      path(fill='#DADADA', d='M230,307.2c-0.9,4.1-2,8.3-2,8.3l-1.3-1.4c0,0,5.2-16.8,5.2-21.8c0.2,0.3,0.2,0.3,0.7,0.9\
      C232.5,298.6,231,302.9,230,307.2z')
      path(fill='#DADADA', d='M225.7,309.3c5.4,0.3,9.7,3.8,9.4,7.7c-0.1,3.9-4.7,6.8-10.2,6.4c-5.4-0.3-9.7-3.8-9.4-7.7\
      C215.8,311.7,220.4,309,225.7,309.3z')
      path(fill='#DADADA', d='M222.9,309.4c0.9-0.1,1.8-0.2,2.8-0.1c5.4,0.3,9.7,3.8,9.4,7.7c-0.1,3.9-4.9,7.5-10.2,6.4\
      C215.1,321.4,218.9,310,222.9,309.4z')
    g
      path(d='M216.4,318.7c-0.5,4.8,3,9.2,7.8,9.6c4.8,0.5,9.2-3,9.6-7.8c0.5-4.8-3-9.2-7.8-9.6C221.3,310.4,217,313.8,216.4,318.7\
      L216.4,318.7z')
      path(d='M217,316.6c-1.6,5.2,3.1,8.3,4.4,8.6l0.5-1.8c-1.8-0.3-5.9-3.4-4.2-8.6C217.1,315.8,217,316.6,217,316.6z')
      ellipse(transform='matrix(-0.9876 -0.1571 0.1571 -0.9876 400.32 660.2902)', cx='226.2', cy='314.3', rx='3.5', ry='1.9')
      ellipse(transform='matrix(-0.9876 -0.1572 0.1572 -0.9876 400.2947 660.2962)', cx='226.3', cy='314.3', rx='3.3', ry='1.8')
      ellipse(transform='matrix(-0.9876 -0.1571 0.1571 -0.9876 400.1281 660.5554)', cx='226.2', cy='314.5', rx='2.5', ry='1.3')
    g
      path(fill='#DADADA', d='M189.5,374.6c-1-1.9-2.5-12.9-3.4-16.8c-3.6-15.5,14.3-10.6,15.9-2.1c1.1,5.7,4.2,12.7,4.2,12.7\
      L189.5,374.6z')
      path(fill='#DADADA', d='M205.6,368c0,0-1.4-4-2.5-7.2c-0.6-1.6-1.4-3.8-1.8-5.4c-0.5-2.2-0.9-3.3-1.3-3.9c1.2,1.3,2,2.6,2.3,4.2\
      c1.1,5.7,2.8,8,4.4,12.6L205.6,368z')
      path(fill='#DADADA', d='M203.8,367.2l-0.7,0.3c0,0-3.1-13.6-6.3-18.4c0.2,0.1,0.5,0.3,0.7,0.4\
      C199.9,352.2,203.8,367.2,203.8,367.2z')
      path(fill='#DADADA', d='M199.7,358.7c1.5,5.4,2.4,8.7,2.4,8.7l-1.3,0.1c0,0-3.6-16.6-5.5-19.1c0.2,0.1,0.6,0.3,0.7,0.3\
      C197.5,350.8,198.6,354.8,199.7,358.7z')
      path(fill='#DADADA', d='M194.1,348.1c0.1,0,0.2,0.1,0.5,0.1c0.8,1.8,5.7,19.5,5.7,19.5l-0.6,0.3L194.1,348.1z')
      path(fill='#DADADA', d='M198.4,368.4l-2.9,1c0,0-5.5-17.5-5.3-21.6c1.3-0.2,2.1-0.3,3.4,0.1L198.4,368.4z')
      path(fill='#DADADA', d='M194.7,370.4l-0.6,0.2c0,0-5.2-15.7-5.3-22.6c0.1,0,0.2-0.1,0.4-0.1C189.8,354.3,194.7,370.4,194.7,370.4z\
      ')
      path(fill='#DADADA', d='M193.8,371.1l-2.6,1.5c0,0-4.5-17.6-4.3-22.9c0.6-0.6,1-1.1,1.6-1.3C188,353.2,193.8,371.1,193.8,371.1z')
      path(fill='#DADADA', d='M191.4,373.6l-2,1c-1-1.9-2.5-12.9-3.4-16.8c-0.7-3.2-0.5-5.5,0.1-7.1\
      C186.8,358.7,189.4,369.5,191.4,373.6z')
      path(fill='#DADADA', d='M195.5,365.6c4.7-2,9.6-0.8,11.1,2.6c1.5,3.4-1.1,7.7-5.8,9.7s-9.6,0.8-11.1-2.6\
      C188.2,371.9,190.8,367.6,195.5,365.6z')
      path(fill='#DADADA', d='M197.8,364.8c3.9-0.7,7.5,0.5,8.6,3.3c1.5,3.4-1.1,7.7-5.8,9.7l-6.2,0.8\
      C192.3,378.3,191.6,368.3,197.8,364.8z')
    g
      path(d='M191,373.6c-0.6,4.6,2.6,8.8,7.2,9.5c4.6,0.6,8.8-2.6,9.5-7.2c0.6-4.6-2.6-8.8-7.2-9.5S191.6,369,191,373.6L191,373.6z')
      path(d='M191,373.6c-0.2,7,6.6,7,7.9,7.2l0.2-1.7c-1.7-0.2-8.5-0.6-7.5-7.4C191.5,371.5,191.1,371.9,191,373.6z')
      ellipse(transform='matrix(-0.9966 -8.289272e-02 8.289272e-02 -0.9966 367.7494 754.485)', cx='199.5', cy='369.6', rx='3.3', ry='1.7')
      ellipse(transform='matrix(-0.9966 -8.286468e-02 8.286468e-02 -0.9966 367.7588 754.4808)', cx='199.5', cy='369.6', rx='3.1', ry='1.6')
      ellipse(transform='matrix(-0.9965 -8.324673e-02 8.324673e-02 -0.9965 367.2688 754.5314)', cx='199.4', cy='369.6', rx='2.4', ry='1.2')
    g
      path(fill='#DADADA', d='M207.1,429.6c-7-4-19.7-9.3-22.7-10.5c-9.1-3.9-1.2-11.2,2.9-11.8c5.7-1.3,26,8.6,26,8.6L207.1,429.6z')
      path(fill='#DADADA', d='M211.5,416.4c-8.4-2.7-14.6-8.5-25.9-8.5c0.7-0.3,1.4-0.6,2-0.7c4.3-0.5,8.7,0.7,12.8,2.1\
      c1.7,0.7,13.5,6.1,13.5,6.1L211.5,416.4z')
      path(fill='#DADADA', d='M209.6,417.8l-0.8,1.2c0,0-18-8.6-25.7-9.5c0.3-0.2,0.5-0.5,0.9-0.7C192.7,409.4,209.6,417.8,209.6,417.8z\
      ')
      path(fill='#DADADA', d='M207.9,420.2l-1.4,4.3c0,0-18.5-8-26-11.4c0.4-1.1,0.8-1.9,2-3C191.5,412.1,207.9,420.2,207.9,420.2z')
      path(fill='#DADADA', d='M206.6,425l0,1.1c0,0-21.3-9.3-26.3-11.7c0-0.4,0-0.7,0.2-1C189.2,417.5,206.6,425,206.6,425z')
      path(fill='#DADADA', d='M206.9,426.7l-0.2,1.8c0,0-21.4-10-25.7-11.9c-0.2-0.4-0.7-1-0.8-1.8C185,417,206.9,426.7,206.9,426.7z')
      path(fill='#DADADA', d='M206.8,428.9l-0.3,0.8c-7.5-3.8-19.2-9.4-22.2-10.7c-1.3-0.5-2.3-1.2-3-1.9\
      C189,420.2,206.8,428.9,206.8,428.9z')
      path(fill='#DADADA', d='M205.5,420.1c1.8-3.9,5.5-6.1,7.9-4.7c2.5,1.4,2.8,5.8,0.9,9.7c-1.8,3.9-5.4,5.9-7.8,4.6\
      C204.2,428.3,203.7,424.1,205.5,420.1z')
      path(fill='#DADADA', d='M207.6,417.2c1.9-1.9,4.2-2.6,5.9-1.7c2.5,1.4,2.8,5.8,0.9,9.7l-5,4.8C207.7,429.7,206.3,420,207.6,417.2z\
      ')
    g
      path(d='M205.7,423.3c-0.4,4.1,2.5,7.7,6.6,8.2c4.1,0.4,7.7-2.5,8.2-6.6c0.4-4.1-2.5-7.7-6.6-8.2\
      C209.8,416.3,206.2,419.2,205.7,423.3L205.7,423.3z')
      path(d='M205.8,425.6c0.7,4.3,7,3.7,8.2,3.5l-0.3-1.6c-1.6,0.3-7.9,0.6-8-4.1C205.7,423.4,205.6,424.5,205.8,425.6z')
      path(d='M211.2,417.9c1.3-0.2,2.5,0.3,2.6,1.1c0.1,0.7-0.9,1.4-2.4,1.6c-1.3,0.2-2.4-0.3-2.5-1.2\
      C208.8,418.7,209.8,418,211.2,417.9z')
      path(d='M211.2,417.9c1.2-0.1,2.4,0.3,2.4,1c0.1,0.7-0.9,1.4-2.1,1.5c-1.2,0.1-2.3-0.3-2.4-1C209,418.7,209.8,418.1,211.2,417.9z')
      ellipse(transform='matrix(-0.9943 0.1068 -0.1068 -0.9943 466.2108 813.6433)', cx='211.3', cy='419.3', rx='1.8', ry='1')
    g
      path(fill='#DADADA', d='M226.7,441.8l-15.1-9.4c-1.3-0.8-1.7-5-1.1-7.6c1-3.7,4.8-8.1,6.9-7.3l16.5,7.2L226.7,441.8z')
      path(fill='#DADADA', d='M235.3,427.2l-0.7,3.2l-22-9.8c0.8-1.1,1.5-1.9,2.5-2.5L235.3,427.2z')
      path(fill='#DADADA', d='M234.9,429.8l-1.2,3.4L211.9,422c0.5-0.8,1-1.7,1.7-2.2L234.9,429.8z')
      path(fill='#DADADA', d='M226.9,434.5l-0.6,0.6l-15.9-8.8c0-0.2,0-0.2,0-0.5L226.9,434.5z')
      path(fill='#DADADA', d='M230.5,438.8l-1.8,2.7l-18.1-10.7c-0.2-0.7-0.3-1.8-0.4-3L230.5,438.8z')
      path(fill='#DADADA', d='M226.8,442.3l-5.7-3.8c-1.9-1-2-5.3-0.6-8.9c1.8-4.4,6.6-7.8,8.1-7.1l5.6,2.6L226.8,442.3z')
      path(fill='#DADADA', d='M233.2,428.9c0,0-8.9-0.7-10.6-2.9c1.4-1.8,4-3.9,5.7-3.7l5.9,2.6L233.2,428.9z')
      path(fill='#DADADA', d='M233.8,426.4c0,0-8.8-2.8-7.4-3.5c0.7-0.5,1.5-0.7,2.1-0.5l5.9,2.6L233.8,426.4z')
      ellipse(transform='matrix(-0.3421 0.9397 -0.9397 -0.3421 717.0025 365.1921)', fill='#DADADA', cx='230.7', cy='433.6', rx='9.4', ry='6.3')
      path(fill='#DADADA', d='M226.8,427.9c2-2.6,4.7-4,7.1-3.2c3.2,1.2,4.4,6.1,2.7,11l-6.8,6.4C228.9,442.6,225.3,432.9,226.8,427.9z')
    g
      path(fill='#DADADA', d='M192.1,379.7c0.8-2.6,3.5-6.2,5.7-7.6c3.2-2,9.8-2.7,11.5,0.4c2.3,4.1,11.2,17.1,11.2,17.1l-19.4,11.5\
      l-8.7-18.5C192.4,382.6,191.8,380.6,192.1,379.7z')
      path(fill='#DADADA', d='M200.3,371.1c0.2-0.1,0.7-0.2,0.9-0.2l11.6,22.2l-1.2,0.8L200.3,371.1z')
      path(fill='#DADADA', d='M195.9,373.6c1-1.2,2.2-1.9,3.6-2.3l11.9,23.3l-3.6,3.2L195.9,373.6z')
      path(fill='#DADADA', d='M206.7,370.7c0.7,0.3,2,0.6,2.6,1.8c2.3,4.1,6.7,10.3,12,17.2l-2.9,1.1L206.7,370.7z')
      path(fill='#DADADA', d='M194.9,374.8c0.1-0.1,0.3-0.4,0.5-0.6l12.1,23.8l-0.6,0.3L194.9,374.8z')
      path(fill='#DADADA', d='M202.1,370.7c0.2-0.1,0.4-0.1,0.6-0.1l11.3,21.1l-0.6,0.3L202.1,370.7z')
      path(fill='#DADADA', d='M203.5,370.5c0.2,0,1.1-0.1,1.3-0.1l12,20.4l-1.4,0.8L203.5,370.5z')
      path(fill='#DADADA', d='M192.9,378c0.4-0.8,1-1.9,1.7-2.7L205,397l-2.1,2.6L192.9,378z')
      path(fill='#DADADA', d='M192.2,379.4l9.4,19.9l-2,0.4c0,0-4.8-12-7.4-17.1C191.8,381.8,191.8,380.3,192.2,379.4z')
      path(fill='#DADADA', d='M201.3,385.8c4.7-3.8,12.4-6.1,15.1-2.5l4.4,6l-20.1,13.4l-2.9-7.2C197,393.2,198.1,388.5,201.3,385.8z')
      path(fill='#DADADA', d='M206.3,382.9c3.6-1.6,8.1-2.3,10.2,0.2l5,6.7l-9.8-0.4C208.7,388.8,205.8,385.2,206.3,382.9z')
      path(fill='#DADADA', d='M213,381.5c1.3,0.2,2.5,0.7,3.3,1.7l5,6.7l-3-0.1C218.3,389.6,213.5,384.1,213,381.5z')
      ellipse(transform='matrix(-0.8191 0.5737 -0.5737 -0.8191 612.2672 600.6264)', fill='#DADADA', cx='211.4', cy='396.9', rx='12.2', ry='9.2')
      path(fill='#DADADA', d='M208.5,387.9c4.9-2.3,10.4-1.6,12.8,2c2.9,4.2,0.9,10.7-4.7,14.5l-9.4,2.7\
      C204.9,406.8,198.6,396.3,208.5,387.9z')
    g
      path(d='M202.1,399.9c-1,7,3.9,13.5,11,14.4c7,1,13.5-3.9,14.4-11c1-7-3.9-13.5-11-14.4C209.5,388,203,392.9,202.1,399.9\
      L202.1,399.9z')
      path(d='M202.1,400c-1,9.3,9.7,10,11.9,10l0.5-3.1c-2.7,0-13.3-0.1-11.5-10.2C202.9,396.6,202.3,397.8,202.1,400z')
      ellipse(transform='matrix(-0.9966 -8.288463e-02 8.288463e-02 -0.9966 394.0909 802.0232)', cx='213.7', cy='392.8', rx='5.1', ry='2.9')
      ellipse(transform='matrix(-0.9966 -8.284448e-02 8.284448e-02 -0.9966 394.105 802.0173)', cx='213.7', cy='392.8', rx='4.8', ry='2.8')
      ellipse(transform='matrix(-0.9965 -8.305618e-02 8.305618e-02 -0.9965 393.8752 802.3737)', cx='213.6', cy='393', rx='3.8', ry='2.1')
    g
      path(fill='#DADADA', d='M235.2,321.2c-0.3-2.9-6.3-4.9-11.3-4c-4.9,0.8-9.5,4.2-9.3,7.2l1.4,22.6l22.1-5.3L235.2,321.2z')
      path(fill='#DADADA', d='M237.8,343.4c0,0-3.1-18.9-4.2-24.5c-0.1-0.1-0.4-0.3-0.6-0.4l4,25.1L237.8,343.4z')
      path(fill='#DADADA', d='M234.3,319.4l4.2,23.9l2.2-0.5c-3.1-11-4.2-14.7-5.2-22C235.4,320.4,234.7,319.6,234.3,319.4z')
      path(fill='#DADADA', d='M215.7,321.8c-0.5,0.7-1,1.4-0.9,2.6c0.7,7.5,0.4,8.6,0.4,23.8l1.7-1.3\
      C216.9,346.8,216.2,330.2,215.7,321.8z')
      path(fill='#DADADA', d='M229.6,342.6l-3-25.7c-1.9-0.1-3.8,0.4-5.5,1l2.5,27.2L229.6,342.6z')
      path(fill='#DADADA', d='M220.6,339.5l-1.7-20.5c-0.9,0.6-1.7,1-2.4,1.9l1.5,21.5L220.6,339.5z')
      path(fill='#DADADA', d='M222.3,339.1l-2-20.8c-0.2,0.1-0.6,0.2-0.9,0.5l1.8,21L222.3,339.1z')
      path(fill='#DADADA', d='M231.6,342.2l-3.4-25.2c-0.2,0-0.5-0.1-0.7,0l3.2,25.1L231.6,342.2z')
      path(fill='#DADADA', d='M235.2,340.9l-3.7-23c-0.8-0.3-1.8-0.5-2.8-0.7l3.5,23.6L235.2,340.9z')
      path(fill='#DADADA', d='M225,331.9c8-1.3,13.1,1,13.7,3.4l2.2,8.1l-25.8,4.5l0.1-9C215.1,337.2,218.6,333,225,331.9z')
      path(fill='#DADADA', d='M229.2,331.6c5.6-0.1,9,1.9,9.6,3.8l2.2,8.2l-9.3,1.8C231.5,345.2,227.9,331.5,229.2,331.6z')
      path(fill='#DADADA', d='M235.6,332.6c1.7,0.8,2.7,1.7,3.1,2.6l2.2,8.2l-3.2,0.4C237.6,344,234,332,235.6,332.6z')
      path(fill='#DADADA', d='M226.6,337.9c7.1-1.3,13.5,1.5,14.3,5.9c0.8,4.4-4.3,9.1-11.4,10.4s-13.5-1.2-14.4-5.6\
      C214.4,344.3,219.4,339.3,226.6,337.9z')
      path(fill='#DADADA', d='M226.6,337.9c7.1-1.3,13.5,1.5,14.3,5.9c0.8,4.4-6.5,12.9-13.1,9.7C220.3,351.3,214.4,343.7,226.6,337.9z')
    g
      path(d='M225.7,433c-1.4,5.2,1.8,10.5,7,11.9c5.2,1.4,10.5-1.8,11.9-7c1.3-5.2-1.8-10.5-7-11.9C232.3,424.7,227,427.7,225.7,433\
      L225.7,433z')
      path(d='M225.4,435.5c-0.1,6.2,7.5,6.6,9.4,6.1l0.1-2.3c-2.3,0.4-10.1,0.1-9.1-6.8C225.4,433.4,225.4,435.5,225.4,435.5z')
      path(d='M233.3,426.9c1.9,0.1,3.5,1.1,3.4,2.2c0,1.1-1.6,2-3.7,1.9c-1.9-0.1-3.5-1-3.3-2.3C229.9,427.6,231.4,426.8,233.3,426.9z')
      path(d='M233.3,427c1.8,0.1,3.4,1,3.3,2.1s-1.6,1.9-3.5,1.8c-1.8-0.1-3.2-1-3.2-2.2C230,427.6,231.5,426.9,233.3,427z')
      ellipse(transform='matrix(-0.9992 -4.095758e-02 4.095758e-02 -0.9992 448.6575 867.1541)', cx='233.2', cy='429', rx='2.5', ry='1.5')
    g
      polygon(fill='#DADADA', points='287.8,457.8 237.5,445.9 239.3,428.2 279.8,438.2 		')
        polygon(fill='#DADADA', points='272,437.7 239.2,431.4 239.3,428.2 274.3,435.6 		')
          polygon(fill='#DADADA', points='283.5,452.1 282.2,454.6 236.8,444.2 236,441 		')
            polygon(fill='#DADADA', points='282.4,442 281.7,448 238,439.5 238.5,434.7 		')
              polygon(fill='#DADADA', points='278.9,439.7 279.1,441.1 236.8,433.7 238.2,432.7 		')
                polygon(fill='#DADADA', points='282.8,455.5 283.5,458.1 241.6,447.1 240.2,445.6 		')
                  polygon(fill='#DADADA', points='280.4,447.7 281.2,450.3 237.1,440.2 238,439.4 		')
                    path(fill='#DADADA', d='M242.7,447.4l-6.1-1.5c-1.6-0.5-2.6-2.8-3.1-6.6c-0.6-4.5,3.1-13,6.5-12.6l6,1.3\
                    C240.1,429.9,235.9,443.4,242.7,447.4z')
                    path(fill='#DADADA', d='M241.6,431.9c-2.8-0.1-4.7-0.3-6.1-1.1c0.8-1.5,1.7-3.3,3.9-4.4l6.7,1.4\
                    C244.3,428.4,243.1,429.9,241.6,431.9z')
    g
      path(fill='#DADADA', d='M279.6,282.2c14.8-4.1,23.3-7.3,24.5,2.2c1,7.5-2.4,6.2-17.2,14.8C286.9,299.2,278.6,282.4,279.6,282.2z')
      path(fill='#DADADA', d='M286.7,297.7l-0.4-1.6c0,0,12-3.8,18-9.6c0,0.4-0.2,1.3-0.2,1.4C298.4,292.9,286.7,297.7,286.7,297.7z')
      path(fill='#DADADA', d='M279.5,283.7l-0.2-1.5c0,0,15.6-4.8,19.8-3.8C287.9,280.1,279.5,283.7,279.5,283.7z')
      path(fill='#DADADA', d='M286.4,298.6c0,0,16.2-7.3,17.7-10.3c-1,3.6-5.4,5.4-16.5,10.7L286.4,298.6z')
      path(fill='#DADADA', d='M282.2,290.6l-1-2c0,0,15.5-5.8,22.1-7.5c0.2,0.4,0.3,0.7,0.4,1.1C298.1,284.2,282.2,290.6,282.2,290.6z')
      path(fill='#DADADA', d='M281.5,287.6l-1.6-2.5c0,0,14-5.4,21.7-5.9c0.5,0.4,1.1,0.9,1.4,1.5C292.9,282.9,281.5,287.6,281.5,287.6z\
      ')
      path(fill='#DADADA', d='M284.7,295.4l-1.8-3.7c0,0,12-4.7,21-8.8c0.2,0.6,0.4,2,0.4,2.6C296.5,291,286.8,294.6,284.7,295.4z')
      path(fill='#DADADA', d='M304.2,285.4c0,0.2,0,0.5,0,0.6c-6.5,5.6-19.5,10.1-19.5,10.1l-0.5-0.9\
      C284.4,295.1,296.3,290.9,304.2,285.4z')
      path(fill='#DADADA', d='M279.3,282.2c-2.4,0.8-2.7,5.2-0.6,9.9c2.1,4.7,5.9,8,8.4,7.1c2.4-0.8,2.6-6,0.5-10.7\
      C285.5,283.9,281.8,281.5,279.3,282.2z')
    g
      path(d='M269.7,291.4c-1.1,4.8,1.9,9.6,6.7,10.6c4.8,1,9.5-2,10.5-6.9c1.1-4.8-1.9-9.6-6.7-10.6\
      C275.4,283.4,270.7,286.4,269.7,291.4L269.7,291.4z')
      path(d='M271.3,287.8c-3.2,4.3-0.1,9.1,1.3,9.6l1.4-1c-2.4-0.9-4.6-6.2-1.4-9.9L271.3,287.8z')
      ellipse(transform='matrix(-0.9403 -0.3405 0.3405 -0.9403 445.1871 654.9113)', cx='280.1', cy='288.4', rx='3.9', ry='2.3')
      ellipse(transform='matrix(-0.9403 -0.3405 0.3405 -0.9403 445.184 654.8995)', cx='280.1', cy='288.4', rx='3.8', ry='2.2')
      ellipse(transform='matrix(-0.9404 -0.3402 0.3402 -0.9404 444.6063 655.0966)', cx='279.7', cy='288.6', rx='2.8', ry='1.6')
    g
      path(fill='#DADADA', d='M278.3,292c5.5,3.7,7,8.1,6.2,10.3c-3.1,5.8-5.8,10.4-7.5,17.3l-25.5-8.4l14.9-21\
      C267.7,288.1,274.7,289.6,278.3,292z')
      path(fill='#DADADA', d='M284.3,299.2c0.2,0.7,0.5,2,0,2.9c-3.1,5.8-5.8,10.4-7.5,17.3l-2-0.8L284.3,299.2z')
      path(fill='#DADADA', d='M268.1,289.2c-5,7.6-15.7,22.6-15.7,22.6l-1.8-1.3c8.1-10.4,11-13.9,15.7-20.6\
      C266.7,289.6,267.6,289.4,268.1,289.2z')
      path(fill='#DADADA', d='M268.6,289.3c1.2-0.1,2.3,0.1,3.3,0.2l-14.6,23.8l-3.8-1.2L268.6,289.3z')
      path(fill='#DADADA', d='M277.3,291.4c0.1,0.1,0.4,0.3,0.5,0.3l-13.6,23.8l-0.7-0.3L277.3,291.4z')
      path(fill='#DADADA', d='M262.5,315l-5.3-1.6l14.3-23.9c1.1,0.2,3.5,0.7,5.4,1.8L262.5,315z')
      path(fill='#DADADA', d='M272.1,289.5c0.5,0,0.7,0.1,1,0.3l-12.6,21.8l-1.1-0.6L272.1,289.5z')
      path(fill='#DADADA', d='M279.2,292.8c0.9,0.8,1.4,1.3,2.2,2l-12.4,23l-2.4-1.8L279.2,292.8z')
      path(fill='#DADADA', d='M280.5,293.8c1.1,1,1.9,1.8,2.8,3.2c-0.3,0.5-11,21.1-11,21.1l-3.8-2.2L280.5,293.8z')
      path(fill='#DADADA', d='M278.9,313.4l-2,6.4l-26.4-8.9l6.6-8.4C260.9,298.5,277.4,303.4,278.9,313.4z')
      path(fill='#DADADA', d='M267.6,302.2c5.2,1.5,12.1,7.3,11.3,11.2l-2,6.5l-14.2-4.4C262.6,315.5,263.6,304.6,267.6,302.2z')
      path(fill='#DADADA', d='M275.5,306.8c2.2,2.1,3.8,4.6,3.3,6.5l-2,6.5l-6.3-3C270.4,316.7,273.8,307.6,275.5,306.8z')
      path(fill='#DADADA', d='M265.3,306.9c7.4,2.1,12.3,9,11.6,13c-0.7,3.9-8.2,6.8-15.7,4.7c-7.4-2.1-12-8.4-11.2-12.3\
      C250.6,308.3,257.9,304.8,265.3,306.9z')
      path(fill='#DADADA', d='M264.5,306.7c0.2,0,0.5,0.1,0.8,0.1c7.4,2.1,12.3,9,11.6,13c-0.7,3.9-9.1,8.8-15.7,4.7\
      C250.8,318,251.7,307.7,264.5,306.7z')
    g
      path(d='M247,321.1c-1.1,7.8,4.3,15.1,12.1,16c7.7,1,14.8-4.5,15.8-12.3c1.1-7.8-4.3-15.1-12.1-16\
      C255.1,307.8,248,313.3,247,321.1L247,321.1z')
      path(d='M249,315.4c-4,7.3,2.1,14.3,4.4,14.8l1.9-1.9c-4.1-1-8.9-9-4.6-15.3L249,315.4z')
      ellipse(transform='matrix(-0.9652 -0.2614 0.2614 -0.9652 434.5893 688.3007)', cx='263.1', cy='315.3', rx='6.3', ry='3.8')
      ellipse(transform='matrix(-0.9652 -0.2614 0.2614 -0.9652 434.5918 688.3102)', cx='263.1', cy='315.3', rx='5.9', ry='3.5')
      ellipse(transform='matrix(-0.9653 -0.2613 0.2613 -0.9653 433.7324 688.6715)', cx='262.6', cy='315.5', rx='4.4', ry='2.5')
      path(fill='#DADADA', d='M384.1,458.8l-86.7-96.1c10.2,4.1,37.3,3.3,49.4-13.4c9.9-20.2,30.5-20.9,30.5-20.9l33,114.8L384.1,458.8z')
      path(fill='#DADADA', d='M297.2,361.6c3.9,4.2,16.4,3.1,16.7,3.1c2,39.6,74.3,55.8,123.6,132.1C415.9,517,284.6,394,284.6,394\
      L297.2,361.6z')
    g
      path(fill='#D1DEF3', d='M393,425.7c-26.4-17.5-60.5-34.4-66.9-63l1.1-0.3c6.2,27.5,38.9,43.7,65.6,60.9L393,425.7z')
      path(fill='#D1DEF3', d='M391.1,408c-10.2-2.3-26.7-9.3-36.6-17.6c-10-8.5-18.3-15.9-22.2-30l1.1-0.6c4.1,14.1,13.4,22.3,21.7,29.6\
      c7.8,6.7,25.5,14.5,36.3,16.8L391.1,408z')
      path(fill='#D1DEF3', d='M355.5,381.4c-11.5-8.9-15.8-17-18.2-23.5l1.1-0.7c1.7,5.8,7.1,15,17.5,23c10.3,7.9,27.2,8.7,31.4,8.1\
      l0.4,1.5C385.7,390.5,367,390.2,355.5,381.4z')
      path(fill='#D1DEF3', d='M353.8,371.5c-4.8-3.9-10.5-13.7-11.3-17.2l1.1-1.2c1.1,5.5,6.8,14.2,11.2,17.5c3.7,2.9,12.1,7,18.6,6\
      c5.6-0.9,7.7-5.2,9.7-8.8l0.4,1.5c-2.2,3.8-3.1,7-9.6,8.4C367.4,379.1,359.6,376.1,353.8,371.5z')
      path(fill='#D1DEF3', d='M392.9,440.8c-32.2-29-68-44.5-76-76.4l1.6-0.2c7,29.4,42.9,46.9,75.6,74.3L392.9,440.8z')
      path(fill='#DADADA', d='M373.1,333.8c12.7,44.1,16.9,61,21.3,109c5.2,11.9,6.9,21.7,3.9,31.4c13.3,20.3,36.7,8.7,43.1,2.9\
      l-3.8-23.9c-6.6-4.7-13.2-10-14.5-14.9c-9.3-37-19.6-50.7-30.4-98.1c-0.7-3.1-5-5.7-11.9-12.4L373.1,333.8z')
      path(fill='#DADADA', d='M273.9,377.2l-8.9,24.8c0,0,0.4,37.6,23.7,57.4c29.1,21.1,80.1,54.3,109.9,72.2\
      c0.4-0.6,20.9-42.7,20.9-42.7L273.9,377.2z')
    g
      path(d='M215.7,353.4c-0.9,7.8,4.8,14.8,12.7,15.7c7.8,0.9,14.8-4.8,15.7-12.7c0.9-7.8-4.8-14.8-12.7-15.7\
      C223.6,339.9,216.5,345.6,215.7,353.4L215.7,353.4z')
      path(d='M216.5,349.9c-2.8,7.8,5.2,12.7,7.3,13.1l1.1-2.5c-2.9-0.3-10.2-5.3-6.8-13.3C216.9,348.6,216.5,349.9,216.5,349.9z')
      ellipse(transform='matrix(-0.9876 -0.1571 0.1571 -0.9876 404.5237 723.2883)', cx='230.8', cy='345.7', rx='6.3', ry='3.5')
      ellipse(transform='matrix(-0.9876 -0.1571 0.1571 -0.9876 404.5097 723.251)', cx='230.8', cy='345.6', rx='6.1', ry='3.4')
      ellipse(transform='matrix(-0.9876 -0.1572 0.1572 -0.9876 403.9066 723.6974)', cx='230.6', cy='345.9', rx='4.6', ry='2.4')
    g
      polygon(fill='#DADADA', points='222.6,391.5 246.8,400.7 269.9,428.1 269,442.4 214.9,414.5 		')
        polygon(fill='#DADADA', points='258.1,407.8 258,404.5 224.8,391.4 221,393 		')
          polygon(fill='#DADADA', points='221,398.3 254.1,412.3 256.4,415.2 220.1,399.9 		')
            polygon(fill='#DADADA', points='222.6,395.7 256.8,410.1 257.3,411.4 222.2,396.7 		')
              polygon(fill='#DADADA', points='219,400.1 270.4,421.8 271.5,432.1 216.6,406.4 		')
                polygon(fill='#DADADA', points='217.1,409.8 267.8,435.7 264.1,438.7 218.1,414.6 		')
                  polygon(fill='#DADADA', points='216.4,407.5 267.9,432.8 267.3,434.4 216.3,408.8 		')
                    polygon(fill='#DADADA', points='218,414.1 267.3,440.4 270.1,443.5 220.7,418.1 		')
                      path(fill='#DADADA', d='M212.8,400.6c1.6-4.8,7.7-10.6,10.9-9.7l6.3,2.5c-6.7,0.1-11.2,7.4-12.1,12.9c-0.8,4.9,0.7,10.4,4.7,12.6\
                      l-7.9-3.7C211.8,413.9,211.1,406,212.8,400.6z')
                      path(fill='#DADADA', d='M215,396.6c2.5-3.4,6.4-6.3,8.7-5.5l6.3,2.5c-3.8,0-6.7,2.3-8.9,5.3C219.2,399.1,215.7,397.3,215,396.6z')
                      path(fill='#DADADA', d='M220.3,391.6c1.2-0.7,2.5-1,3.4-0.7l6.3,2.5c-1.1,0-2.1,0.2-3.1,0.6C226.4,394.3,219.9,391.9,220.3,391.6z\
                      ')
    g
      path(fill='#DADADA', d='M274.4,414.2c-3.2-6.9-1.3-11,2.5-13.2c1.9-1.2-35.3-51-35.3-51l-10.5,5l-8.1,12.6l41.3,58.2L274.4,414.2z\
      ')
      polygon(fill='#DADADA', points='237.8,350.7 262.4,383.5 263.2,388.5 237.1,351.6 		')
        polygon(fill='#DADADA', points='264.3,382.8 265.8,381.3 246.7,353.3 241,351 		')
          polygon(fill='#DADADA', points='234,354.4 259.6,389.1 260.8,393.1 232.7,354.7 		')
            polygon(fill='#DADADA', points='231.3,354.8 267.6,404.3 265,411 226.8,359.9 		')
              polygon(fill='#DADADA', points='225.4,363.1 257.6,407.9 254.1,412.2 224.8,369.5 		')
                polygon(fill='#DADADA', points='226.5,361.1 257.9,403.7 255.6,403.6 226.1,362.6 		')
                  polygon(fill='#DADADA', points='224.9,368.7 254.5,409.4 255.8,417 226.9,374.4 		')
                    path(fill='#DADADA', d='M241.4,347.4c-4.3-0.6-13,0.4-17.5,7.8c-2.4,3.9-3.8,9.4-1.4,12.9l5.2,7.4c-8.5-16.3,13.3-25.7,18.6-22.3\
                    L241.4,347.4z')
                    path(fill='#DADADA', d='M243,348.3c-1.5-1.9-4.9-1.7-9.9-0.1c-0.7,0.2,2.8,6.2,3.1,6.2c3.8-1.4,7.1-2.9,10.9-0.6L243,348.3z')
                    path(fill='#DADADA', d='M243,348.3c-0.8-1-2.3-1.4-4.1-1.3c-0.4,0.8,2,4.3,3.7,5.6c1.5-0.1,3,0.2,4.6,1.1L243,348.3z')
                    path(fill='#9DC0E0', d='M360.3,505.2c-0.3,0.5-1,0.1-0.9-0.9c0.2-12.1,0.6-24.2,10.5-43.5c0.5-1,1.6-1.3,2.3-0.9\
                    C364,484.7,363.5,486.7,360.3,505.2z')
                    path(fill='#9DC0E0', d='M353.5,500.7c-0.4,0.4-1,0.1-1.1-0.9c-0.3-13.2,0-25.5,9.4-45c0.4-1,1.6-1.4,2.2-0.9\
                    C356.7,479.5,356.3,481.6,353.5,500.7z')
                    path(fill='#9DC0E0', d='M346.9,496.2c-0.4,0.4-1.1,0.1-1.1-1c-0.9-14.3-0.6-26.8,8.2-46.5c0.4-1,1.7-1.4,2.2-0.8\
                    C349.4,474.4,349,476.4,346.9,496.2z')
                    path(fill='#9DC0E0', d='M340.2,491.8c-0.5,0.3-1.1,0-1.2-1c-1.4-15.3-1.1-28,6.9-48.1c0.4-1.1,1.7-1.4,2.2-0.8\
                    C342.1,469.3,341.6,471.2,340.2,491.8z')
                    path(fill='#9DC0E0', d='M333.6,487.3c-0.6,0.2-1.1,0-1.3-1c-1.9-16.4-1.7-29.3,5.8-49.6c0.4-1.1,1.7-1.5,2.2-0.8\
                    C334.7,464.1,334.4,466,333.6,487.3z')
                    path(fill='#9DC0E0', d='M326.8,482.8c-0.6,0.2-1.1-0.2-1.3-1.1c-3.4-17.3-2.2-30.6,4.6-51.1c0.4-1.1,1.7-1.5,2.2-0.8\
                    C327.5,459,327.1,460.8,326.8,482.8z')
                    path(fill='#9DC0E0', d='M320.2,478.4c-0.7,0.2-1.2-0.2-1.4-1.1c-4-18.4-2.9-31.9,3.5-52.6c0.4-1.2,1.7-1.5,2.1-0.7\
                    C320.1,453.9,319.8,455.7,320.2,478.4z')
                    path(fill='#9DC0E0', d='M313.5,473.9c-0.7,0.2-1.3-0.2-1.5-1.1c-3.8-19.6-3.5-33.2,2.2-54.2c0.3-1.2,1.8-1.6,2.1-0.7\
                    C312.8,448.7,312.5,450.5,313.5,473.9z')
                    path(fill='#9DC0E0', d='M306.8,469.6c-0.9,0.1-1.3-0.3-1.5-1.3c-4.5-20.6-4.2-34.4,1-55.7c0.3-1.2,1.9-1.6,2.1-0.7\
                    C305.6,443.6,305.3,445.3,306.8,469.6z')
                    path(fill='#9DC0E0', d='M300.1,465.1c-0.9,0.1-1.4-0.3-1.7-1.3c-5.2-21.7-4.7-35.8-0.1-57.2c0.3-1.2,1.9-1.6,2.1-0.5\
                    C298.2,438.5,297.9,440.1,300.1,465.1z')
                    path(fill='#9DC0E0', d='M291.9,445.3c0.1,3.8-0.1,14.2-0.2,13.9c-5.9-22.7-5.4-37.1-1.4-58.7c0.3-1.3,1.9-1.6,2.1-0.5\
                    C291,424.2,291.9,445.3,291.9,445.3z')
    g
      path(fill='#EDEDED', d='M287.1,396.1l12.6,9.9c0.1,0.6-0.1,2.1-0.1,2.1l27.7,22.4c0,0,0.5-1.1,1.4-1.5l47.1,36.6l-2.3,4.8\
      l-89.2-69.8L287.1,396.1z')
      path(fill='#EDEDED', d='M282.7,423.4l10.2,6.5c0.1,0.5,0.2,1.9,0.2,1.9l21.9,15.2c0,0,0.4-1.1,1.1-1.5l55.2,34.9l-2,5.6\
      l-88.7-57.7L282.7,423.4z')
      path(fill='#EDEDED', d='M284.7,441.2l9.9,5.7c0.1,0.5,0.1,1.8,0.1,1.8l22.2,14.9l1.1,0.5l1-1.4l48.8,29.6l-2.3,6l-82.3-53.4\
      L284.7,441.2z')
      path(fill='#EDEDED', d='M295.5,457.3l7.3,4.2c0.1,0.4,0.1,1.6,0.1,1.6l22.9,14.9c0,0,0.1-0.5,0.9-0.8l41.1,24.9l-1.8,3.8\
      l-71.7-45.4L295.5,457.3z')
    g
      path(fill='#6087B2', d='M367.5,465.4l2.2,1.8c0.5-1.6,1.1-3.4,1.7-5.2l-1.5-1.3l0,0C369.1,462.3,368.3,463.9,367.5,465.4z')
      path(fill='#6087B2', d='M359.8,459.3l2.2,1.8c0.4-1.7,1-3.4,1.5-5.3l-1.7-1.3l-0.1,0.1C361.2,456.4,360.5,457.9,359.8,459.3z')
      path(fill='#6087B2', d='M352,453.3l2.4,1.8c0.4-1.7,0.8-3.5,1.4-5.3l-1.7-1.3c0,0.1-0.1,0.1-0.1,0.2\
      C353.2,450.3,352.6,451.8,352,453.3z')
      path(fill='#6087B2', d='M344.2,447.2l2.4,1.8c0.4-1.7,0.7-3.5,1.2-5.4l-1.7-1.3c-0.1,0.1-0.1,0.2-0.1,0.4\
      C345.4,444.2,344.8,445.7,344.2,447.2z')
      path(fill='#6087B2', d='M338.1,436.7c-0.5,1.6-1.1,3-1.6,4.4l2.4,1.9c0.3-1.7,0.7-3.5,1-5.4l-1.7-1.3\
      C338.2,436.3,338.2,436.6,338.1,436.7z')
      path(fill='#6087B2', d='M330.1,430.6c-0.5,1.4-0.9,3-1.4,4.3l2.4,1.9c0.3-1.7,0.6-3.5,0.9-5.5l-1.7-1.3\
      C330.3,430.2,330.1,430.5,330.1,430.6z')
      path(fill='#6087B2', d='M323.3,430.8c0.2-1.1,0.3-2.2,0.5-3.4l-2-1.6c-0.3,1.1-0.6,2-0.8,3.1L323.3,430.8z')
      path(fill='#6087B2', d='M315.5,424.8c0.2-1.1,0.3-2.3,0.4-3.6l-2-1.6c-0.3,1.1-0.6,2.2-0.8,3.2L315.5,424.8z')
      path(fill='#6087B2', d='M307.7,418.7c0.2-1.2,0.2-2.5,0.4-3.9l-2-1.6c-0.3,1.2-0.6,2.4-0.8,3.5L307.7,418.7z')
      path(fill='#6087B2', d='M298.3,406.5c-0.3,1.3-0.6,2.8-0.9,4.1l2.5,1.9c0-1.3,0.2-2.7,0.3-4.1l-0.6-0.5c0,0,0.2-1.4,0.1-2.1\
      l-0.5-0.4C298.7,405.7,298.5,406,298.3,406.5z')
      path(fill='#6087B2', d='M292.5,400.2l-1.1-0.9c-0.4,0.1-0.9,0.6-0.9,1.2c-0.3,1.3-0.5,2.7-0.7,4l2.5,1.9\
      C292.2,404.5,292.3,402.4,292.5,400.2z')
      path(fill='#6087B2', d='M361.8,481.1l3.1,2c0.4-1.8,1-3.6,1.6-5.8l-3.1-1.9C362.8,477.5,362.2,479.3,361.8,481.1z')
      path(fill='#6087B2', d='M357.4,478.3c0.4-1.8,0.8-3.6,1.4-5.6l-3.2-2c-0.5,1.9-1.1,3.8-1.4,5.6L357.4,478.3z')
      path(fill='#6087B2', d='M350,473.4c0.3-1.8,0.7-3.6,1.3-5.7l-3.3-2.1c-0.5,1.9-0.9,3.9-1.3,5.7L350,473.4z')
      path(fill='#6087B2', d='M342.6,468.6c0.3-1.8,0.6-3.6,1-5.7l-3.3-2.2c-0.4,1.9-0.7,3.9-1,5.7L342.6,468.6z')
      path(fill='#6087B2', d='M335.2,463.8c0.3-1.8,0.5-3.6,0.9-5.7l-3.4-2.2c-0.3,1.9-0.6,3.7-0.8,5.7L335.2,463.8z')
      path(fill='#6087B2', d='M327.9,459c0.2-1.8,0.4-3.6,0.7-5.7l-3.8-2.4c-0.3,1.9-0.6,3.7-0.8,5.5L327.9,459z')
      path(fill='#6087B2', d='M320.5,454.3c0.2-1.8,0.4-3.6,0.5-5.6l-3.9-2.4c-0.3,1.8-0.5,3.7-0.5,5.6L320.5,454.3z')
      path(fill='#6087B2', d='M313.3,449.5c0-1.1,0.1-2.3,0.2-3.5l-3.7-2.5c0,1.2-0.1,2.4-0.1,3.8L313.3,449.5z')
      path(fill='#6087B2', d='M305.9,444.8c0-1.2,0.1-2.5,0.1-3.9l-3.8-2.7c0,1.3-0.1,2.7-0.1,4L305.9,444.8z')
      path(fill='#6087B2', d='M298.7,435.8l-3.9-2.7c0,1.5,0,2.9,0,4.4l3.9,2.6C298.6,438.6,298.6,437.3,298.7,435.8z')
      path(fill='#6087B2', d='M291.6,436.8c-0.1-2.1,0.1-5.5,0-7.6l-4.3-2.8c-0.1,2.1,0,4.2,0,6.3L291.6,436.8z')
      path(fill='#6087B2', d='M359.6,494.6l2.3,1.5c0.4-2.3,0.9-4.3,1.3-6.4l-2.9-1.7C360,490.3,359.8,492.4,359.6,494.6z')
      path(fill='#6087B2', d='M352.5,490l2.4,1.5c0.3-2.3,0.6-4.3,1.1-6.3l-2.8-1.8C352.8,485.8,352.6,487.8,352.5,490z')
      path(fill='#6087B2', d='M345.7,479.1c-0.2,2.2-0.3,4.2-0.2,6.3l2.4,1.5c0.3-2.2,0.5-4.2,0.8-6.2L345.7,479.1z')
      path(fill='#6087B2', d='M338.5,474.6c-0.1,2.1-0.1,4.1-0.1,6.2l2.5,1.7c0.2-2.2,0.4-4.1,0.6-5.9L338.5,474.6z')
      path(fill='#6087B2', d='M331.2,470.3c-0.1,1.9,0,4,0.2,6.1l2.6,1.7c0.1-2.1,0.3-4,0.3-5.8L331.2,470.3z')
      path(fill='#6087B2', d='M323.6,465.6c0.1,1.9,0.1,3.9,0.3,5.8l3,1.9c0.1-2.1,0.1-3.9,0.2-5.6L323.6,465.6z')
      path(fill='#6087B2', d='M318.3,462.4c-0.7,0.5-0.9,1.5-0.9,1.5l-0.8-0.4c0.1,1.1,0.2,2.3,0.4,3.5l3.1,2c-0.1-1.9,0-3.8,0.1-5.5\
      L318.3,462.4z')
      path(fill='#6087B2', d='M309.9,459c0.1,1.2,0.3,2.4,0.4,3.6l2.7,1.8c-0.1-1.2,0-2.3-0.1-3.4L309.9,459z')
      path(fill='#6087B2', d='M302.8,454.2c0.2,1.3,0.3,2.6,0.5,3.9l2.8,1.9c-0.1-1.3-0.2-2.4-0.1-3.6L302.8,454.2z')
      path(fill='#6087B2', d='M299.1,451.6l-3.3-2.3c0.2,1.3,0.4,2.8,0.7,4.3l3,1.9C299.3,454.2,299.2,452.8,299.1,451.6z')
      path(fill='#6087B2', d='M288.5,443.4c0.3,1.8,0.6,3.8,1,5.7l3.1,1.9c-0.2-2.1-0.4-3.9-0.5-5.7L288.5,443.4z')
      path(fill='#6087B2', d='M359.3,501.9l1.3,0.9c0.3-1.6,0.6-3,0.8-4.3l-2-1.2C359.4,498.8,359.3,500.3,359.3,501.9z')
      path(fill='#6087B2', d='M352.4,492.9c-0.1,1.6,0,3,0,4.6l1.4,0.9c0.2-1.6,0.5-2.9,0.6-4.2L352.4,492.9z')
      path(fill='#6087B2', d='M345.5,488.8c0.1,1.5,0.1,3,0.2,4.5l1.4,0.9c0.2-1.4,0.3-2.9,0.5-4.1L345.5,488.8z')
      path(fill='#6087B2', d='M338.5,484.6c0.1,1.5,0.1,2.9,0.3,4.4l1.4,0.9c0-1.5,0.2-2.8,0.3-4L338.5,484.6z')
      path(fill='#6087B2', d='M331.6,480.3c0.1,1.3,0.3,2.8,0.5,4.3l1.5,0.9c0-1.3,0.1-2.7,0.1-3.9L331.6,480.3z')
      path(fill='#6087B2', d='M326.6,477.3c-0.6,0.3-0.9,0.8-0.9,0.8l-1.1-0.6c0.1,1,0.3,1.8,0.5,2.8l1.7,1c0-1.3,0.1-2.7,0-3.8\
      L326.6,477.3z')
      path(fill='#6087B2', d='M317.9,473c0.2,1,0.4,2.1,0.6,3.1l1.7,1c0-1-0.1-1.8,0-2.7L317.9,473z')
      path(fill='#6087B2', d='M311.3,468.6c0.2,1.1,0.4,2.1,0.6,3.2l1.7,1c-0.1-1-0.1-1.9-0.1-2.8L311.3,468.6z')
      path(fill='#6087B2', d='M304.4,464.2c0.2,1.1,0.4,2.2,0.7,3.4l1.7,1c-0.1-1.1-0.2-2.1-0.1-3L304.4,464.2z')
      path(fill='#6087B2', d='M297.3,458.3c0.3,1.6,0.7,3.2,1,4.9l1.7,1c-0.2-1.6-0.3-3.2-0.3-4.5L297.3,458.3z')
      path(fill='#9DC0E0', d='M286.9,456.2c-1,0.1-1.6-0.4-1.8-1.4c-6.7-23.7-6.1-38.4-2.6-60.2c0.2-1.3,1.9-1.8,2.1-0.5\
      C283.7,428.2,283.4,429.8,286.9,456.2z')
      path(fill='#26548D', d='M276.5,451c-1.4,2.3,1.9,8.3,7.8,10.8c4.3,1.8,9.4,2.3,11.8,0.9c0.5-0.2,0.9-0.6,1-0.9\
      c0.6-0.9,0.3-2.3-0.7-3.8c-1.3-2-3.9-4-7.1-5.8C283.6,449.3,277.9,448.7,276.5,451z')
      path(fill='#26548D', d='M259.8,424.5c6.1,5.9,19.7,9.7,23.5,5.5c3.8-4.1,0-13.9-8.5-21.7c-8.5-7.9-18.5-10.9-22.3-6.8\
      C248.5,405.7,252.6,417.7,259.8,424.5z')
    g
      polygon(fill='#DADADA', points='273,323.2 293.3,362.1 258.7,376.8 250.9,334 		')
        polygon(fill='#DADADA', points='277.2,329.3 295.2,363.7 293,363.9 274.8,327.5 		')
          polygon(fill='#DADADA', points='257.3,329.5 269,369.4 262.7,369.7 254,333.5 		')
            polygon(fill='#DADADA', points='268.9,324.9 284.5,365.8 269.5,365.3 258.7,330 		')
              polygon(fill='#DADADA', points='266.3,326.9 282.7,370 273.6,370.5 259.4,328 		')
                polygon(fill='#DADADA', points='252,334 262.5,384.8 259.4,384.6 251.8,342.3 		')
                  polygon(fill='#DADADA', points='271.4,326.4 289.3,368.7 285.1,369.6 267.4,326.3 		')
                    path(fill='#DADADA', d='M250.3,335.4c-1-6.2,2-9.8,7.3-13.2c3.8-2.4,11.4-2.9,14.9-1l3.6,7.6c-3.9-2.8-12.1-1.4-16.4,1.3\
                    c-5.2,3.2-8.5,8.8-7.8,13.3L250.3,335.4z')
                    path(fill='#DADADA', d='M264.9,320c4.1-0.3,7.4,0.1,8.8,2.1l3.9,7.9c-2.6-2.9-6.5-2.6-9.5-2.6C266.7,327.3,264.1,321.1,264.9,320z\
                    ')
                    path(fill='#DADADA', d='M270.2,320.2c1.6,0.3,2.8,0.9,3.5,1.9l3.9,7.9c-1.3-1.4-2.8-2-4.4-2.4\
                    C271.8,326.6,269.4,320.8,270.2,320.2z')
                    path(fill='#26548D', d='M264.8,395.7c8,8,18.6,9.3,23.1,5.3c4.9-4.4,1.4-15.6-6.7-23.6c-8-8-19.4-11.3-22.4-5.4\
                    C256,377.1,256.7,387.7,264.8,395.7z')
                    path(fill='#26548D', d='M261.4,431.7c-2,3,1.4,11.2,7.9,14.9c6.1,3.7,15.4,3.7,17.4,0.7l0,0c1-1.4,0.5-3.6-1.1-6\
                    c-1.6-2.5-4.4-5-8-7.2C270.7,429.8,263.3,428.7,261.4,431.7z')
                    path(d='M269.2,447c5.8,3.5,14.8,3.5,16.6,0.8c1.9-2.8-2-8.4-8.7-12.5s-13.6-5.2-15.4-2.3C259.8,435.6,263.2,443.4,269.2,447z')
                    path(fill='#85B9DB', d='M282.2,446.2l3.7,1.5c1.3-1.8-0.1-4.5-1.7-6.6C284.4,443.6,282.6,444.6,282.2,446.2z')
                    radialgradient#SVGID_1_(cx='69.4019', cy='464.4378', r='8.5983', fx='70.0868', fy='463.2612', gradienttransform='matrix(-0.1748 -0.9847 -0.9847 0.1748 756.1895 444.0511)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#EDF8FE')
                    stop(offset='0.1398', style='stop-color:#EAF5FC')
                    stop(offset='0.2699', style='stop-color:#E0ECF7')
                    stop(offset='0.3961', style='stop-color:#D0DEEF')
                    stop(offset='0.5192', style='stop-color:#B8CBE3')
                    stop(offset='0.5549', style='stop-color:#B0C5DE')
                    stop(offset='0.6486', style='stop-color:#C5D5E8')
                    stop(offset='0.7867', style='stop-color:#DDE8F4')
                    stop(offset='0.9085', style='stop-color:#EBF5FC')
                    stop(offset='1', style='stop-color:#F1F9FE')
                    path(fill='url(#SVGID_1_)', d='M284.4,462.1c4.9,2.1,11.1,2.2,12.4,0c1.3-2.1-2.1-6.4-7.4-9.2c-5.5-2.8-10.9-3.4-12.2-1.3\
                    C275.5,453.9,278.7,459.7,284.4,462.1z')
                    path(fill='#85B9DB', d='M295.3,462.4c0,0,1,0.3,1.3-0.3c0.8-1.3,0-3.3-2-5.2C294.8,460.7,292.6,462.3,295.3,462.4z')
                    path(fill='#26548D', d='M282.1,445.5c0.5-1.1,2.2-2,2.8-1.5c0.6,0.5,0.7,1.4,0,2.5c-0.6,1.2-1.8,2-2.5,1.9\
                    C281.7,448.1,281.4,446.9,282.1,445.5z')
                    path(fill='#25316D', d='M285,446.5c0.6-1.2,0.6-2,0-2.5c-0.4-0.3-1.1,0-1.7,0.3c-0.6,1.1-0.9,1.4-1,1.9c-0.3,1.1,0.4,1.6,1.4,1.9\
                    C284.1,447.7,284.6,447.2,285,446.5z')
                    path(fill='#26548D', d='M294,460.4c0.5-0.7,1.4-1,2-0.8c0.5,0.4,0.6,1.2,0.1,2.1c-0.5,0.8-1.4,1.2-1.8,0.9\
                    C293.6,462.2,293.5,461.2,294,460.4z')
                    path(fill='#25316D', d='M296,459.7c-0.5-0.3-1.2,0-1.7,0.5c-0.4,1.4-0.6,2.2,1,2.2c0.2-0.1,0.5-0.5,0.8-0.7\
                    C296.5,460.9,296.4,460,296,459.7z')
                    path(d='M259.7,424.8c5.8,5.5,18.5,9.1,22.1,5.1c3.6-4,0.1-13.2-7.8-20.6c-8-7.4-17.4-10.3-21-6.3\
                    C249.2,407,253.1,418.4,259.7,424.8z')
                    path(fill='#26548D', d='M278.6,427.2c0.8-1.3,2.5-2.3,3.5-1.9c1,0.4,0.8,2-0.1,3.5c-1,1.5-2.5,2.5-3.5,2.1\
                    C277.7,430.3,277.6,429,278.6,427.2z')
                    path(fill='#85B9DB', d='M281.2,425.2l0.6,4.7c1.4-1.5,1.8-4.1,1.1-7C282.2,424,281.7,424.7,281.2,425.2z')
                    path(fill='#25316D', d='M282,428.6c1-1.5,1.1-3.1,0.1-3.5c-0.2-0.1-0.6-0.1-0.8,0c0,0-1.5,1.2-2.4,2.3L282,428.6z')
                    path(d='M264,396.9c7.6,7.6,17.5,8.8,21.9,5c4.6-4.2,1.3-14.9-6.3-22.4c-7.6-7.6-18.3-10.7-21.2-5.1\
                    C255.9,379.3,256.4,389.3,264,396.9z')
                    radialgradient#SVGID_2_(cx='31.7513', cy='391.4071', r='2.2369', fx='32.3302', fy='390.1245', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_2_)', d='M328.3,426.6c0.8,0.8,1.8,0.9,2.3,0.4c0.5-0.5,0.2-1.7-0.5-2.4c-0.8-0.8-1.9-1.2-2.3-0.4\
                    C327.5,424.7,327.6,425.9,328.3,426.6z')
                    radialgradient#SVGID_3_(cx='-8.268', cy='352.5824', r='2.2393', fx='-7.6884', fy='351.2986', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_3_)', d='M361.1,451.6c0.8,0.8,1.8,0.9,2.3,0.4c0.5-0.5,0.2-1.7-0.5-2.4c-0.8-0.8-1.9-1.2-2.3-0.4\
                    C360.3,449.7,360.2,450.9,361.1,451.6z')
                    radialgradient#SVGID_4_(cx='-64.2191', cy='373.1884', r='2.0072', fx='-63.6997', fy='372.0376', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_4_)', d='M349.9,498.9c0.7,0.8,1.7,0.8,2,0.4c0.5-0.5,0.2-1.4-0.5-2.2c-0.7-0.8-1.7-1-2-0.4\
                    C349.2,497.2,349.2,498.1,349.9,498.9z')
                    radialgradient#SVGID_5_(cx='-34.3596', cy='406.1968', r='2.0653', fx='-33.8251', fy='405.0127', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_5_)', d='M322.4,481c0.7,0.8,1.7,0.8,2.2,0.4c0.5-0.5,0.2-1.6-0.5-2.3s-1.8-1-2-0.4\
                    C321.7,479.2,321.7,480.2,322.4,481z')
                    radialgradient#SVGID_6_(cx='-12.7992', cy='430.2823', r='2.0653', fx='-12.2646', fy='429.0982', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_6_)', d='M302.3,468.1c0.7,0.8,1.7,0.8,2.2,0.4c0.5-0.5,0.2-1.6-0.5-2.3c-0.7-0.8-1.8-1-2-0.4\
                    C301.7,466.2,301.6,467.3,302.3,468.1z')
                    radialgradient#SVGID_7_(cx='63.3914', cy='420.057', r='2.2413', fx='63.9715', fy='418.772', gradienttransform='matrix(-7.861473e-02 -0.7855 -0.7611 0.1665 629.6782 385.3517)', gradientunits='userSpaceOnUse')
                    stop(offset='0', style='stop-color:#E3F3FD')
                    stop(offset='0.1046', style='stop-color:#DEEFFA')
                    stop(offset='0.2184', style='stop-color:#D1E4F2')
                    stop(offset='0.3366', style='stop-color:#BBD1E5')
                    stop(offset='0.4577', style='stop-color:#9CB9D3')
                    stop(offset='0.58', style='stop-color:#749BBC')
                    stop(offset='0.6019', style='stop-color:#6C96B8')
                    stop(offset='0.8558', style='stop-color:#88ACCB')
                    stop(offset='1', style='stop-color:#9BBBD7')
                    path(fill='url(#SVGID_7_)', d='M304,406.6c0.8,0.8,1.8,0.9,2.3,0.4c0.5-0.5,0.2-1.7-0.5-2.4c-0.8-0.8-1.9-1.2-2.3-0.4\
                    C303.2,404.6,303.3,405.8,304,406.6z')
    g
      path(fill='#DADADA', d='M337.8,319.8c-10-16-19.5-29.3-12.4-41.9c3.4-5.9,12.4-0.2,16.7,6.6c4.8,7.6,5.2,6.6,19,15.7L337.8,319.8z\
      ')
      path(fill='#DADADA', d='M338.6,319.1l-1.4-0.3c-7-11.3-13.1-20.2-14.2-29.3C329.8,307.2,338.6,319.1,338.6,319.1z')
      path(fill='#DADADA', d='M359.5,300.3c-11.8-6.9-17.5-12.3-22.4-21.5c0.7,0.5,2.7,2.5,3.1,3c0.8,0.9,1.5,1.9,2.1,2.7\
      c4.8,7.6,17.5,12.8,18.8,14.8L359.5,300.3z')
      path(fill='#DADADA', d='M351.4,302.9l-4.6,9.3c0,0-19.5-19.3-21.4-34.4c1.4-2.6,3.1-2.8,6.6-2.1\
      C335.6,284.2,351.4,302.9,351.4,302.9z')
      path(fill='#DADADA', d='M348.1,309.5l-0.9,1.8c-2.2-0.7-21.6-27.6-21.7-33.8c0.3-0.4,0.5-0.7,0.8-0.9\
      C326.6,281.5,343.7,309,348.1,309.5z')
      path(fill='#DADADA', d='M343.7,309l-2.7,5.5c0,0-15.7-17.1-17.2-32.9c0.4-1.3,0.8-2.3,1.6-3.6C327.3,290.5,343.7,309,343.7,309z')
      path(fill='#DADADA', d='M340.4,316.1l-0.4,0.6c0,0-15.2-17.7-16.8-33.5c0.1-0.4,0.1-0.6,0.1-0.8\
      C325.5,297.8,340.4,316.1,340.4,316.1z')
      path(fill='#DADADA', d='M344.1,291.9c9,7.6,10.7,13.7,10.7,13.7l-2.2,1.9c0,0-5-6-12-13.6c-6.8-7.5-12.7-18.1-11.8-18.3\
      c1.5-0.2,1.8-0.1,3.1,0.3C334.3,277.5,338.4,287.1,344.1,291.9z')
      path(fill='#DADADA', d='M342.2,300.6c6.5-5.5,15.3-5.2,19.2-0.7c3.8,4.6,1.6,12.7-4.8,18.1c-6.5,5.5-14.9,6.2-18.7,1.7\
      C334,315.2,335.8,306.1,342.2,300.6z')
    g
      path(d='M339.2,312.3c-1.1,7.8,4.2,14.9,12,15.9c7.6,1,14.7-4.5,15.8-12.2s-4.2-14.9-12-15.9C347.3,299.2,340.3,304.6,339.2,312.3\
      L339.2,312.3z')
      path(d='M348.2,300.9c8.4-0.7,9.9,8.1,10.6,11.9l-3-1.6c-1.1-4.3-5.1-10.7-11.2-8.4C346.8,301.1,348.2,300.9,348.2,300.9z')
      path(d='M342.2,312.1c1.8,0.1,3.8,2.4,4.4,5.2c0.6,2.8-0.3,5.1-2,5c-1.8-0.1-3.8-2.4-4.4-5.2C339.6,314.2,340.4,312,342.2,312.1z')
      path(d='M342.3,312.3c1.7,0.1,3.6,2.3,4.2,5c0.6,2.7-0.3,4.8-2,4.8c-1.7-0.1-3.6-2.3-4.2-5C339.7,314.4,340.6,312.3,342.3,312.3z')
      path(d='M342.9,313.7c1.2,0,2.6,1.7,3.1,3.7c0.4,2-0.1,3.6-1.5,3.6c-1.2,0-2.6-1.7-3.1-3.7C341,315.2,341.7,313.6,342.9,313.7z')
    g
      path(fill='#DADADA', d='M350,311.3c2.5-2,5.3-2.9,8.2-1.8c0.6-4.8,5.4-5.3,8.9-3.8c1.4,2.2,16.1,26,19.5,30c0,0-5.7,3.9-12.5,3.2\
      c-3.1-4.8-9.6-4.1-12.2-2.6L350,311.3z')
      path(fill='#DADADA', d='M358.1,309.1c0.5-0.1,1.2,0.2,1.4,0.7l15.1,27c0.2,0.5,0,1-0.5,1.1l0,0c-0.5,0.1-1.2-0.2-1.4-0.7l-15.1-27\
      C357.3,309.7,357.6,309.2,358.1,309.1L358.1,309.1z')
      path(fill='#DADADA', d='M351.4,310.3l12.4,25.1c-0.7,0.2-1.3,0.4-1.8,0.8c-2.5,1.5-7,5.7-9.4,11.7c-1.5,3.6-4.4,0.5-5.5,1.8\
      c0.1-1.7,1-5.8,0.5-8.3c-0.8-4.9-2-6.9-3.8-10.3C340.3,324.9,345.1,314,351.4,310.3z')
      path(fill='#DADADA', d='M342.6,325.8c3.6,6.1,10.1,20.1,8,23.9c-1.3,0.2-2.9-0.9-3.6,0c0.1-1.7,1-5.8,0.5-8.3\
      c-0.8-4.9-2-6.9-3.8-10.3C342.8,329.6,342.5,327.7,342.6,325.8z')
      path(fill='#DADADA', d='M350.5,310.9c0.7-0.6,1.1-0.7,2-1.1c4.9,8.4,9.9,19.2,12.5,25.4c-0.9,0.2-1.1,0.2-2,0.4\
      C359.4,328.1,355.9,318.7,350.5,310.9z')
      ellipse(transform='matrix(-0.8923 0.4513 -0.4513 -0.8923 886.8285 483.2156)', cx='385.8', cy='347.4', rx='9.6', ry='17.2')
      path(fill='#85B9DB', d='M397.2,355.6c0,1.3-0.3,2.4-0.7,3.5s-2,1.3-2.6,0.3C393.2,357.9,394.4,354.3,397.2,355.6z')
      path(d='M360.7,370.8c7.5,4.3,20.2,2.2,21.8-9c-5.5-5.9-8.8-11.3-9.9-21.8c-5.3-7.3-15.3-1.4-18.5,8.1c-2,6.1-6,0.6-6.8,3.5\
      C345.9,356.6,351,365.2,360.7,370.8z')
      path(fill='#214474', d='M387.8,362.7l14,74.5c0,0,2.2-0.3,4.7-2.1c-5.7-22.4-9.6-47.3-9.6-47.3c-1-0.5-1.7-0.1-1.7-0.1l-3.4-19.4\
      c0,0,1.1-0.1,1.8-0.7c-0.2-1.6-0.7-4.5-0.8-4.6C391.3,363.3,389.6,363.2,387.8,362.7z')
      path(fill='#214474', d='M399.5,366.5c-0.3-1-1.3-4.4-1.9-6.2c-1-0.2-1.5,1.2-1.5,1.2l18.9,73.4c0,0,3.2,1.2,5.2-0.8\
      c-4.8-15.8-11-37-12.5-42.4c-1.1-2.8-1.7-4.1-2.2-6.1c-0.6,0-0.9,0.5-0.9,0.5L399.5,366.5C399.4,366.6,399.4,366.6,399.5,366.5z')
      path(fill='#85B9DB', d='M387.8,362.7c1.6,0.7,3.6,0.7,5.1,0.3c-4.4-6.4-5.9-7.6-7.1-8.2C385.4,354.5,387.8,362.7,387.8,362.7z')
      path(fill='#26548D', d='M384.1,354c1.9-0.2,3.5,1.9,3.9,3.2c0.9,2.7-0.9,2.2-2.3,2.3c-1.3,0.2-2.6-0.6-2.9-1.5\
      C382.4,356.7,382.5,354.2,384.1,354z')
      path(fill='#25316D', d='M385.8,354.6c-0.1-0.1,0.5,2.6,1.2,4.8c1-0.1,1.7-0.4,1-2.3c-0.1-0.4-0.3-0.7-0.6-1.2\
      C386.7,355.3,386.1,354.9,385.8,354.6z')
      path(fill='#26548D', d='M396.8,356.7c0.1,0.9-4,5.1-4.2,3.3C392.3,356.2,396.6,353.2,396.8,356.7z')
      path(fill='#25316D', d='M394,359.4c0.1,0.1,2.9-2.1,2.9-2.6c-0.1-0.7-0.2-1.2-0.6-1.5C394.1,355,393.3,358,394,359.4z')
      path(fill='#DADADA', d='M403,483.1c4.3,21.2-3.7,34.9-10.9,42.1c4.1,7.9,22,20.1,37.9,29.3l22.9-3.6l-9-56.7\
      c-10.2-5.6-19.3-10.7-27.4-14.7C407.5,479.2,403.6,481.5,403,483.1z')
    g
      path(fill='#F3F7FD', d='M384.3,354.3c1.7-0.2,3.1,1.9,3.6,3.8l1.8,9l-5,1l-1.6-10C382.9,357.4,382.5,354.5,384.3,354.3z')
      path(fill='#9ABED7', d='M383.7,354.4c0.1-0.1,0.4-0.1,0.6-0.2c0.4,0,0.6,0,1,0.2l2.4,13l-1.6,0.3L383.7,354.4z')
      path(fill='#8CB9D5', d='M386.2,355c0.2,0.3,0.5,0.5,0.7,0.8l2.2,11.5l-0.6,0.1L386.2,355z')
      path(fill='#77A3C8', d='M387.1,366.4c1.3-0.2,2.5,0.1,2.6,0.7s-1,1.5-2.4,1.7c-1.3,0.2-2.5-0.2-2.6-0.8S385.7,366.5,387.1,366.4z')
      path(fill='#26548D', d='M282.8,399.3c1.3-1.4,3.1-2.1,3.8-1.4c0.7,0.6,0.4,2.2-0.7,3.6c-1.1,1.4-2.9,2.2-3.6,1.6\
      C281.6,402.3,281.6,400.7,282.8,399.3z')
    g
      path(fill='#85B9DB', d='M285.8,397.6l0.1,4.2c1.8-1.6,2.4-4.2,2.1-7.1C287.4,396,286.7,396.8,285.8,397.6z')
      path(fill='#25316D', d='M286.6,397.9c-0.2-0.1-0.5-0.3-0.8-0.3c-1.5,1.3-3.1,2.2-3.3,3.3c0,0.5,2.3,0.8,3,0.9\
      c0.1-0.1,0.3-0.2,0.4-0.4C287,400.1,287.3,398.5,286.6,397.9z')
      path(d='M299.8,363.9c0.5,4.6-3.8,10.8-5,19.3c-1.3,8.8-1.1,8.4-4.7,12.9c-2.2,2.7,1.3-7.1-7.8-16.5c-5-5.3-8.8-8.5-19-9.6\
      c-1-0.2-1.4-0.5-1.5-1.3c-0.5-3,6.6-9.4,13.1-11c7.7-1.9,17.7-2.3,22.8,2.2C299,361.2,299.6,362.4,299.8,363.9z')
    g
      path(fill='#F3F7FD', d='M286.6,398.3l12.5,9.8l-3.9,5.1L282.9,403C281.1,400.5,284.7,397.7,286.6,398.3z')
      path(fill='#A1C8E1', d='M282.5,400.8c0.3-0.6,0.6-1.2,1.1-1.7l12.9,10.6l-1.1,1.4L282.5,400.8z')
      path(fill='#8CB9D5', d='M284.8,398.5c0.2-0.1,0.5-0.2,0.9-0.2l12.4,10.1l-0.7,0.3L284.8,398.5z')
      ellipse(transform='matrix(-0.7976 -0.6032 0.6032 -0.7976 286.3123 917.2827)', fill='#77A3C8', cx='297', cy='410.6', rx='1.3', ry='3.3')
      path(fill='#40689B', d='M296,411c0.1-0.6,1.7-2.9,1.7-2.9c0.5-0.3,1.1-0.4,1.3-0.2c0.6,0.5,0.2,1.9-0.8,3.4L296,411z')
    g
      path(fill='#F3F7FD', d='M298.6,409.2l28.9,23.5l-2.9,3.5l-28.8-23.6C295.1,412,297.4,408.2,298.6,409.2z')
      path(fill='#A2C6E1', d='M296,411.3c0-0.1,0.1-0.2,0.1-0.4l29.2,23.5l-0.1,0.4L296,411.3z')
      path(fill='#A1C8E1', d='M296.5,410.2c0.3-0.4,0.5-0.6,0.8-0.8l29.3,23.6l-0.7,0.6L296.5,410.2z')
    g
      path(fill='#F3F7FD', d='M329.2,431.8c0,0,49.3,39.8,49.5,39.8c0.1,0-4.7,5.8-4.7,5.8l-48.9-39.1\
      C322.4,436.1,326.5,429.9,329.2,431.8z')
      path(fill='#8CB9D5', d='M324.5,434.8c0-0.1,0.3-0.6,0.3-0.7l49.8,40.2l-0.1,0.5L324.5,434.8z')
      path(fill='#7EA8CB', d='M328.1,431.4c0.2,0,0.7,0,1.1,0.3l49.5,39.8l-0.7,0.2L328.1,431.4z')
      path(fill='#A2C6E1', d='M325.2,433.5c0.4-0.5,0.8-0.9,1.1-1.3l50.4,40.2l-1.1,0.9L325.2,433.5z')
    g
      path(fill='#F3F7FD', d='M396.7,356.7l2.4,9.4l-4.5,1.3l-1.7-7.5C393.1,355.7,396.3,354.1,396.7,356.7z')
      path(fill='#9ABED7', d='M393,358.5c0-0.2,0.1-0.4,0.1-0.6l2.1,9.2l-0.4,0.1L393,358.5z')
      path(fill='#8CB9D5', d='M394.1,356.4c0.5-0.6,1-0.9,1.5-0.9l2.7,10.9l-1.7,0.5L394.1,356.4z')
      path(fill='#77A3C8', d='M396.7,365.7c1.2-0.2,2.3-0.2,2.4,0.4s-0.8,1.4-2,1.6c-1.2,0.2-2.4,0-2.5-0.6\
      C394.5,366.7,395.4,365.9,396.7,365.7z')
    g
      path(fill='#F3F7FD', d='M295.8,459.9l7.5,4.5l-1.7,2.7l-7.2-4.5C293.3,461.7,294.3,459.7,295.8,459.9z')
      path(fill='#8CB9D5', d='M294,461.1c0-0.2,0.1-0.5,0.3-0.6l7.8,4.6l-0.4,0.7L294,461.1z')
      path(fill='#A2C6E1', d='M294.6,460.3c0.1-0.1,0.3-0.2,0.4-0.2l7.8,4.6l-0.4,0.2L294.6,460.3z')
      ellipse(transform='matrix(-0.8571 -0.5152 0.5152 -0.8571 321.6699 1020.8691)', fill='#77A3C8', cx='302.4', cy='465.8', rx='0.6', ry='1.6')
      path(fill='#40689B', d='M302.1,465.8c0,0,0.6-1.3,0.9-1.4c0.1,0,0.2,0,0.4,0c0.4,0.1,0.2,1-0.3,1.7L302.1,465.8z')
    g
      path(fill='#F3F7FD', d='M303,465.1l24.5,15.2l-1,1.7L302,466.6C301.7,466.4,302.5,464.7,303,465.1z')
      path(fill='#A2C6E1', d='M326.6,481.3L302,466l0-0.1l24.6,15.2L326.6,481.3z')
      path(fill='#A1C8E1', d='M302.2,465.7c0.1-0.1,0.1-0.2,0.3-0.4l24.5,15.2l-0.3,0.2L302.2,465.7z')
      path(fill='#F3F7FD', d='M327.5,479.3l43.6,27.4l-1.9,3.1l-43.1-27.1C325,482.1,326.4,478.6,327.5,479.3z')
      path(fill='#A2C6E1', d='M325.6,482c0-0.1,0-0.2,0-0.4l43.2,27.1l0,0.5L325.6,482z')
      path(fill='#A2C6E1', d='M325.9,480.5c0.1-0.2,0.3-0.6,0.4-0.7l43.6,27.2l-0.8,0.7L325.9,480.5z')
      path(fill='#7EA8CB', d='M326.8,479.3c0.1-0.1,0.4-0.2,0.7,0l43.4,27.4l-0.7,0.1L326.8,479.3z')
    g
      path(fill='#F3F7FD', d='M281.9,425.6l11.6,7.2l-3.2,5.5l-11.5-7.7C277.1,428.5,280.3,425.3,281.9,425.6z')
      path(fill='#A1C8E1', d='M291.1,434.7l-0.9,1.4l-11.7-7.8c0.1-0.5,0.4-1.1,0.9-1.7L291.1,434.7z')
      path(fill='#A2C6E1', d='M279.5,426.7l0.1-0.1l11.7,7.8l-0.1,0.2L279.5,426.7z')
      path(fill='#8CB9D5', d='M280.6,425.9c0.1-0.1,0.2-0.1,0.5-0.2l11.5,7.5l-0.3,0.2L280.6,425.9z')
      path(fill='#77A3C8', d='M293.6,432.8c0.7,0.4,0.4,2-0.5,3.5c-0.9,1.5-2.1,2.4-2.9,2c-0.7-0.4-0.4-2,0.5-3.5\
      C291.7,433.3,293,432.4,293.6,432.8z')
      path(fill='#40689B', d='M291.2,435.7c0,0,0.8-2,1.8-3c0.2-0.1,0.5-0.1,0.7,0c0.7,0.4,0.4,2-0.5,3.5L291.2,435.7z')
    g
      path(fill='#F3F7FD', d='M293.3,434.2l32,21.1l-2.2,3.3l-32-21.2C290.3,436.8,291.9,433.3,293.3,434.2z')
      path(fill='#A2C6E1', d='M291,436.1c0-0.1,0.1-0.2,0.1-0.4l32.3,21.1l-0.1,0.2L291,436.1z')
      path(fill='#A1C8E1', d='M291.4,435.2c0.1-0.4,0.4-0.6,0.6-0.7l32.3,21.2l-0.6,0.6L291.4,435.2z')
    g
      path(fill='#F3F7FD', d='M317.7,448.1l54.7,35.6l-3.8,5.8l-54.3-35.1C311.9,453,315.2,446.6,317.7,448.1z')
      path(fill='#A2C6E1', d='M313.4,452.1c0-0.1,0.1-0.5,0.1-0.6l55.3,35.2l-0.3,0.5L313.4,452.1z')
      path(fill='#7EA8CB', d='M316.5,447.9c0.1-0.1,0.7-0.1,1.2,0.3l54.7,35.6l-0.6,0.2L316.5,447.9z')
      path(fill='#8CB9D5', d='M314.1,450.3c0.3-0.5,0.6-1.1,1-1.4l55.4,35.8l-1,0.9L314.1,450.3z')
      path(fill='#EDEDED', d='M392.4,525c-0.9,1.2-1.5,0.9-2.4,1.9c9.7,11.5,24.4,21.2,37.7,28l5.2-0.8\
      C414.6,544.9,400.2,535.2,392.4,525z')
    g
      path(fill='#F3F7FD', d='M285,444.2l10.6,6.1l-2.3,4.4l-10.6-6.5C280.9,446.5,283.4,443.9,285,444.2z')
      path(fill='#8CB9D5', d='M283,445c0.1-0.1,0.1-0.1,0.3-0.2l10.7,6.7l-0.1,0.2L283,445z')
      path(fill='#A1C8E1', d='M282.1,446.6c0.1-0.5,0.4-1,0.8-1.4l10.7,6.7l-0.6,1.3L282.1,446.6z')
      path(fill='#A1C8E1', d='M283.7,444.4c0.1-0.1,0.1-0.1,0.4-0.1l10.6,6.3l-0.2,0.1L283.7,444.4z')
      path(fill='#77A3C8', d='M295.7,450.4c0.6,0.4,0.6,1.6-0.2,2.8c-0.6,1.2-1.8,1.9-2.4,1.6c-0.6-0.4-0.6-1.6,0.2-2.8\
      C294,450.7,295.1,450,295.7,450.4z')
      path(fill='#40689B', d='M293.8,452.8c0,0,0.4-1.3,1.5-2.4c0.1,0,0.2,0,0.4,0.1c0.6,0.4,0.6,1.6-0.2,2.8L293.8,452.8z')
    g
      path(fill='#F3F7FD', d='M295.5,451.5l28.9,17.7l-1.7,2.7l-28.9-17.7C293.1,453.6,294.2,450.7,295.5,451.5z')
      path(fill='#A2C6E1', d='M293.6,453.1c0-0.1,0-0.2,0.1-0.2l29,17.7l0,0.2L293.6,453.1z')
      path(fill='#A1C8E1', d='M293.9,452.3c0.1-0.2,0.3-0.5,0.5-0.6l29.1,17.8L323,470L293.9,452.3z')
    g
      path(fill='#F3F7FD', d='M319.9,464.7l48.1,30.2l-2.9,4.7l-47.8-29.8C315.5,468.8,317.9,463.4,319.9,464.7z')
      path(fill='#8CB9D5', d='M316.8,467.5c0-0.1,0-0.2,0.1-0.4l48.8,30.4l-0.1,0.5L316.8,467.5z')
      path(fill='#7EA8CB', d='M318.9,464.5c0.1,0,0.4-0.2,0.8,0l48.2,30.3l-0.5,0.2L318.9,464.5z')
      path(fill='#A2C6E1', d='M317.2,466.4c0.3-0.5,0.5-1.1,0.9-1.3l48.7,30.4l-0.9,0.8L317.2,466.4z')
      path(fill='#EDEDED', d='M406.5,480.7l37.5,17.5l-1.5-9.7l-24.6-12C417.9,476.5,409.5,478.4,406.5,480.7z')
    g
      path(fill='#9CC3DF', d='M376.7,461.8c3.1,0.8,14.5,8.5,24,19.1c2.8,7.6-3.5,39.3-14,40.7c-5.8-1.9-18.8-10.3-22.8-13.9\
      C361,505.3,371.3,460.4,376.7,461.8z')
      path(fill='#EAF1FB', d='M377.1,464c2.9,0.7,13.4,7.8,22.1,17.7c2.6,7.1-3.4,36.9-13.2,38.1c-5.4-1.8-17.4-9.5-21.1-12.8\
      C362.3,504.9,372.2,462.9,377.1,464z')
      path(fill='#89AECF', d='M384.9,507.7c0,0.7-0.4,1.4-0.9,1.7c-0.5,0.2-1-0.3-1.1-1c0-0.7,0.4-1.4,0.9-1.7\
      C384.4,506.6,384.9,507,384.9,507.7z')
      path(fill='#89AECF', d='M388.5,497.4c0,0.8-0.4,1.6-0.9,1.8c-0.5,0.2-1-0.3-1.1-1c0-0.8,0.4-1.6,0.9-1.8\
      C388.1,496.2,388.5,496.7,388.5,497.4z')
      path(fill='#89AECF', d='M391.1,486.2c0.1,0.7-0.2,1.7-0.8,1.9c-0.6,0.2-1.2-0.2-1.3-0.9c-0.1-0.7,0.2-1.7,0.8-1.9\
      C390.4,485,391,485.3,391.1,486.2z')
      path(fill='#89AECF', d='M380.5,513.6c0,0.6-0.3,1.2-0.8,1.4c-0.5,0.1-0.8-0.1-0.8-0.8c0-0.6,0.3-1.2,0.8-1.4\
      S380.5,513,380.5,513.6z')
    g
      path(fill='#FBFDFF', d='M416.1,549c5.5,3.6,10.4,5.7,11.1,5c0.8-0.8-3.1-4.3-8.5-7.9c-5.5-3.6-10.4-5.7-11.1-5\
      C406.9,541.9,410.7,545.4,416.1,549z')
      path(fill='#4372A6', d='M416.4,548.7c4.5,2.9,8.6,4.8,9.2,4.2c0.6-0.7-2.5-3.6-7.1-6.5c-4.5-2.9-8.6-4.8-9.2-4.2\
      C408.7,542.9,411.9,545.8,416.4,548.7z')
    g
      ellipse(transform='matrix(-0.8923 0.4513 -0.4513 -0.8923 891.0957 479.4299)', fill='#B7CEEC', cx='388.4', cy='346', rx='5.1', ry='9.2')
      ellipse(transform='matrix(-0.8923 0.4513 -0.4513 -0.8923 891.0693 479.4287)', fill='#FBFDFF', cx='388.4', cy='346', rx='4.8', ry='8.8')
      ellipse(transform='matrix(-0.8923 0.4515 -0.4515 -0.8923 890.4489 479.9933)', fill='#26548D', cx='388', cy='346.2', rx='3.3', ry='5.9')
    g
      path(fill='#B7CEEC', d='M363.7,341.3c4,0.3,8.3,5.4,9.7,11.4c1.3,6-1,10.6-5,10.4c-4-0.3-8.3-5.4-9.7-11.4\
      C357.5,345.7,359.7,341,363.7,341.3z')
      path(fill='#FBFDFF', d='M363.8,341.8c3.9,0.3,8,5.1,9.2,10.9c1.3,5.7-0.9,10.1-4.7,9.9c-3.9-0.3-8-5.1-9.2-10.9\
      C357.8,346.1,359.9,341.5,363.8,341.8z')
      path(fill='#26548D', d='M364.8,344.6c2.8,0.2,5.7,3.8,6.6,8.1c0.9,4.3-0.5,7.6-3.3,7.4c-2.8-0.2-5.7-3.8-6.6-8.1\
      C360.5,347.6,362,344.4,364.8,344.6z')
    g
      ellipse(transform='matrix(-0.9653 -0.2613 0.2613 -0.9653 462.5716 797.2209)', fill='#B7CEEC', cx='284.3', cy='367.9', rx='10.4', ry='6.3')
      ellipse(transform='matrix(-0.9653 -0.2613 0.2613 -0.9653 462.5735 797.2266)', fill='#FBFDFF', cx='284.3', cy='367.9', rx='10.1', ry='6.1')
      ellipse(transform='matrix(-0.9652 -0.2614 0.2614 -0.9652 461.9872 798.1915)', fill='#254F85', cx='284.1', cy='368.4', rx='7.3', ry='4.5')
    g
      path(d='M445.1,518.7c1.1,11.4-5.9,23-15.5,25.7c-9.7,2.7-18.4-4.5-19.6-15.9c-1.1-11.4,5.9-23,15.5-25.7\
      C435.3,500,444.1,507.2,445.1,518.7z')
      path(d='M444.5,518.9c1.1,11.2-5.6,22.4-15,25c-9.4,2.6-17.9-4.4-19-15.5c-1.1-11.2,5.6-22.4,15-25\
      C434.9,500.8,443.4,507.7,444.5,518.9z')
      path(d='M442.3,519.2c0.9,9.2-5,18.6-12.9,20.8c-8.1,2.3-15.2-3.4-16.1-12.8c-0.8-9.2,5-18.6,12.9-20.8\
      C434.3,504.1,441.5,509.8,442.3,519.2z')
      path(fill='#B0CDED', d='M416.6,501.5c-7.6,10.7-9.5,17.3-11.2,27.3c0,0.2-0.3,0.2-0.4,0c-0.6-1.6-1-3.2-1.3-5\
      c-0.9-8,2.7-16.3,8.7-20.4c1.2-0.9,2.6-1.6,4.1-2C416.6,501,416.7,501.2,416.6,501.5z')
    g
      path(fill='#F3F7FD', d='M389,367.3l7.1,38.8l-3.4,0.6l-7.1-38.8C385.5,366.9,388.8,366.4,389,367.3z')
      path(fill='#97BED7', d='M386.4,367.1c0.1,0,0.1-0.1,0.2-0.1l7.1,38.8l-0.2,0.1L386.4,367.1z')
      path(fill='#8CB9D5', d='M387.2,366.9c0.2-0.1,0.6-0.1,0.9-0.1l6.9,38.9l-0.7,0L387.2,366.9z')
    g
      path(fill='#F3F7FD', d='M394.3,389.3l9.1,50.5l-6,1l-9.2-50C387.8,388.5,393.9,387.3,394.3,389.3z')
      path(fill='#8CB9D5', d='M389.8,388.8c0.1-0.1,0.5-0.2,0.6-0.2l9.3,50.7l-0.6,0.3L389.8,388.8z')
      path(fill='#7EA8CB', d='M393.8,388.6c0.1,0.1,0.4,0.3,0.5,0.6l9.1,50.6l-0.5-0.3L393.8,388.6z')
      path(fill='#9ABED7', d='M390.9,388.4c0.5-0.1,1-0.2,1.5-0.2l9.4,51l-1.2,0L390.9,388.4z')
    g
      path(fill='#F3F7FD', d='M398.6,366.5l9.8,38.3l-3.4,0.9l-9.8-38.3C394.9,366.3,398.4,365.5,398.6,366.5z')
      path(fill='#97BED7', d='M395.9,366.4c0.1,0,0.1-0.1,0.2-0.1l9.9,38.3l-0.2,0.1L395.9,366.4z')
      path(fill='#8CB9D5', d='M396.8,366.2c0.2-0.1,0.6-0.1,0.9-0.1l9.6,38.4l-0.7,0L396.8,366.2z')
    g
      path(fill='#F3F7FD', d='M405.4,388l12.6,49.8l-5.9,1.5L399.5,390C398.8,387.7,404.8,385.9,405.4,388z')
      path(fill='#97BED7', d='M400.9,387.7c0.1-0.1,0.5-0.2,0.6-0.3l12.9,50l-0.6,0.3L400.9,387.7z')
      path(fill='#7EA8CB', d='M404.8,387.3c0.1,0.1,0.4,0.3,0.6,0.5l12.6,49.9l-0.5-0.3L404.8,387.3z')
      path(fill='#8CB9D5', d='M402,387.3c0.5-0.1,1-0.2,1.5-0.2l13,50.2l-1.2,0.1L402,387.3z')
      path(fill='#EDEDED', d='M308.2,373.6c-0.8-1.6-1.3-0.9-1.3-0.4c0.1,15.9,7.2,26.2,36.4,46.9c21.9,15.5,38.9,33.1,45.1,35.7\
      c1.7,0.7,2.1-0.1,1.3-1.9c-2.1-4.8-12.6-17-28.3-28.7C336.7,407.1,317.2,393.9,308.2,373.6z')
    g
      ellipse(transform='matrix(0.7578 0.6525 -0.6525 0.7578 338.4176 -70.3546)', fill='#B7CEEC', cx='264', cy='420.7', rx='10.4', ry='4.6')
      ellipse(transform='matrix(0.7579 0.6524 -0.6524 0.7579 338.4144 -70.3705)', fill='#FBFDFF', cx='264', cy='420.7', rx='10.1', ry='4.4')
      ellipse(transform='matrix(0.7579 0.6524 -0.6524 0.7579 338.3143 -70.5385)', fill='#26548D', cx='264.2', cy='420.5', rx='6.5', ry='2.8')
    g
      path(fill='#EAF1FB', d='M386.7,481.8c-1.9-2.4-14.1-14.8-14.1-14.8c-1.6,0.3-2.8,1.1-3.5,2.4c-1.2,2.5-0.7,4,0.6,5\
      c0.2,0.1,14.2,9.1,15.7,10C386.9,485.1,388.5,483.9,386.7,481.8z')
      path(fill='#A2C6E1', d='M386.8,484.5c0.1,0,0.4-0.1,0.5-0.2l-18.3-13.8c-0.1,0.4-0.3,0.6-0.3,1L386.8,484.5z')
      path(fill='#A1C8E1', d='M386.3,484.5l-17.4-11.4c0.2,0.6,1.2,1.4,1.6,1.8c0.2,0.1,13.5,8.6,15,9.5\
      C385.9,484.4,386,484.5,386.3,484.5z')
      path(fill='#9CC3DF', d='M387.3,484c0.4-0.5,0.4-1.2-0.5-2.2c-1.9-2.4-14-14.9-14-14.9c-1.6,0.3-2.3,0.9-3.1,2\
      C382.5,479,382.3,479.4,387.3,484z')
    g
      path(fill='#EAF1FB', d='M383.9,494.6c-2-2.2-15.3-13.1-15.3-13.1c-1.6,0.4-2.9,0.8-3.5,1.9c-0.9,2.5-0.4,3.9,1.6,5.1l16,8.7\
      C384.4,498,385.7,496.6,383.9,494.6z')
      path(fill='#8CB9D5', d='M384.5,497.1c0.1-0.1,0.1-0.1,0.1-0.2l-19.8-12.2c0,0.2-0.1,0.5-0.1,0.7L384.5,497.1z')
      path(fill='#A1C8E1', d='M383.9,497.4l-18.1-9.5c0.4,0.4,0.7,0.6,1.2,0.9c0.2,0.1,14.3,7.6,15.8,8.4\
      C383.2,497.3,383.7,497.5,383.9,497.4z')
      path(fill='#9CC3DF', d='M384.8,496.5c0-0.5-0.4-1.3-1.1-2.1c-2-2.2-15.5-13.5-15.5-13.5c-1.2,0.3-2.2,1-2.7,2.3L384.8,496.5z')
    g
      path(fill='#EAF1FB', d='M379.4,504.4c-1.9-1.9-14.4-11-14.4-11c-1.5,0.3-1.8,0.7-2.4,1.7c-0.8,1.7-0.3,3.1,1.6,4.2l14.3,7.4\
      C379.9,507.3,381.1,506,379.4,504.4z')
      path(fill='#97BED7', d='M379.8,506.7c0.1-0.1,0.1-0.1,0.3-0.2L362.4,496c0,0.2-0.1,0.5,0,0.7L379.8,506.7z')
      path(fill='#A1C8E1', d='M379.5,506.8l-16.4-8.4c0.2,0.4,0.7,0.6,1.2,0.9c0.2,0.1,13,6.7,14.3,7.4\
      C378.9,506.8,379.2,506.8,379.5,506.8z')
      path(fill='#9CC3DF', d='M380.1,506.2c0.3-0.4,0.2-1.1-0.7-2c-1.9-1.9-14.4-11.4-14.4-11.4c-1.5,0.3-2,1-2.5,2.1\
      C375,502.5,374.6,502.7,380.1,506.2z')
    g
      ellipse(transform='matrix(0.8745 0.485 -0.485 0.8745 249.4401 -76.3276)', fill='#B7CEEC', cx='272.2', cy='443.9', rx='7.1', ry='3.1')
      ellipse(transform='matrix(0.8745 0.4851 -0.4851 0.8745 249.4693 -76.3188)', fill='#FBFDFF', cx='272.2', cy='443.9', rx='6.9', ry='3')
      ellipse(transform='matrix(0.8744 0.4852 -0.4852 0.8744 249.4841 -76.4213)', fill='#26548D', cx='272.4', cy='443.7', rx='4.5', ry='1.9')
    g
      ellipse(transform='matrix(0.8974 0.4412 -0.4412 0.8974 231.9158 -78.9047)', fill='#B7CEEC', cx='285.6', cy='459.2', rx='5.6', ry='2.4')
      ellipse(transform='matrix(0.8974 0.4412 -0.4412 0.8974 231.9264 -78.9036)', fill='#FBFDFF', cx='285.6', cy='459.2', rx='5.3', ry='2.3')
      ellipse(transform='matrix(0.8974 0.4412 -0.4412 0.8974 231.8646 -78.9274)', fill='#26548D', cx='285.6', cy='459.1', rx='3.5', ry='1.6')
    g
      ellipse(transform='matrix(0.7115 0.7026 -0.7026 0.7115 353.3369 -75.1862)', fill='#B7CEEC', cx='268.2', cy='392.7', rx='10.2', ry='5')
      ellipse(transform='matrix(0.7115 0.7026 -0.7026 0.7115 353.3532 -75.1762)', fill='#FBFDFF', cx='268.2', cy='392.8', rx='9.7', ry='4.7')
      ellipse(transform='matrix(0.7114 0.7027 -0.7027 0.7114 353.3055 -75.4036)', fill='#26548D', cx='268.5', cy='392.5', rx='6.3', ry='3.1')
    g
      path(fill='#EAF1FB', d='M374.8,510.1c-1.3-1.4-12.4-7-12.4-7s-0.8,1.9,0.5,2.6c0.1,0.1,10.1,5.4,11.1,5.9\
      C375,512.3,375.9,511.4,374.8,510.1z')
      path(fill='#97BED7', d='M375.1,511.7c0.1,0,0.2-0.1,0.3-0.2l-13.2-7.2c0,0.1,0,0.2,0,0.4L375.1,511.7z')
      path(fill='#A1C8E1', d='M374.8,511.8l-12.5-6.6c0.1,0.2,0.4,0.4,0.6,0.6c0.1,0.1,10.1,5.4,11.1,5.9\
      C374.3,511.9,374.6,511.9,374.8,511.8z')
      path(fill='#9CC3DF', d='M375.3,511.4c0.1-0.2-0.1-0.6-0.6-1.2c-1.3-1.4-11.2-8.3-11.2-8.3c-1,0.2-1.1,0.9-1.3,1.5L375.3,511.4z')
    g
      path(fill='#99C1DB', d='M392.9,441.7c-0.5-2,0.5-4.5,3.4-6.2c3.3-2.1,14.6-5.5,19.7-5.3c1.7,0.1,3.6,2.2,4.4,3.4\
      c1.7,2.7,1.7,9.8,7.6,16.1c3.5,3.9,3.8,11.8-3.3,16.5c-8.6,5.7-19,0.1-23.9-7C395.1,451.3,394.4,447.3,392.9,441.7z')
      path(fill='#E6EFFA', d='M394.8,442.4c-0.4-1.8,0.5-4,3-5.6c3-1.8,13.1-4.9,17.9-4.7c1.5,0,3.2,2,3.9,3.2c1.6,2.5,1.5,8.8,6.8,14.5\
      c3.2,3.5,3.4,10.5-3,14.9c-7.7,5.2-17.1,0-21.5-6.3C396.8,451.2,396.2,447.6,394.8,442.4z')
      ellipse(transform='matrix(-0.9775 -0.211 0.211 -0.9775 737.1292 988.0687)', fill='#89AECF', cx='421.3', cy='454.7', rx='1.6', ry='1')
      ellipse(transform='matrix(-0.9775 -0.211 0.211 -0.9775 709.4792 991.3193)', fill='#89AECF', cx='407.6', cy='457.8', rx='1.6', ry='1')
      path(fill='#C6C6C6', d='M435.1,462.6c-9.8,14.5-15.3,13.2-18.5,14.4l27,14.6l-5.2-33C437.3,459.5,436.3,460.9,435.1,462.6z')
    g
      path(fill='#FBFDFF', d='M435.8,470.8c-1.8,4.1,1,9.6,6.7,13.6l-0.5-2.9c-2.8-2.8-4-6.1-2.9-8.7c0.3-0.6,0.6-1.2,1.1-1.7l-0.6-4\
      C438,468,436.6,469.2,435.8,470.8z')
      path(fill='#26548D', d='M439.3,472.9c-1.2,2.6,0,5.9,2.9,8.7l-1.6-10.4C439.9,471.7,439.5,472.3,439.3,472.9z')
    g
      path(fill='#EAF1FB', d='M403.3,450c0.1-2.4-0.9-16.4-0.9-16.4c-1.2-0.8-2.6-1.1-3.7-0.7c-1.7,0.4-2.7,1.7-2.4,3.1\
      c0.1,0.2,4.4,13.5,4.8,14.7C401.5,451.9,403.2,452.2,403.3,450z')
      path(fill='#8CB9D5', d='M401.8,451.5c0.2,0.1,0.4,0.1,0.6,0.1l-3.4-18.8c-0.1,0-0.6,0.1-0.7,0.2L401.8,451.5z')
      path(fill='#A1C8E1', d='M401.4,451.2l-5.1-16.4c-0.1,0.5,0,1.3,0.1,1.8c0.1,0.2,4.2,12.7,4.7,14.1\
      C401.2,450.9,401.3,451,401.4,451.2z')
      path(fill='#94BAD3', d='M402.4,451.5c0.5,0,0.9-0.5,1-1.5c0.1-2.4-1-17.1-1-17.1c-1-0.5-1.9-0.4-2.9-0.2\
      C399.4,432.8,401.7,446.1,402.4,451.5z')
    g
      path(fill='#FBFDFF', d='M431.7,485.9c-1.9,2,1,6.7,6.3,10.4c2.4,1.7,4.9,2.8,7,3.5l-1.9-11.8C438.3,485,433.3,484.1,431.7,485.9z')
      path(fill='#4372A6', d='M433.2,487.1c-1.5,1.6,0.9,5.4,5.3,8.5c2.1,1.5,4.4,2.6,6.3,3.1l-1.5-9.3\
      C439,486.7,434.6,485.6,433.2,487.1z')
    g
      path(fill='#EAF1FB', d='M418.3,446.9c0-2.3-2.1-16.2-2.1-16.2c-1.3-0.9-2.4-1.3-3.5-1.1c-1.7,0.2-3.2,1.2-2.8,2.6\
      c0,0,5.5,13.9,6,15.1C416.6,448.6,418.4,449,418.3,446.9z')
      path(fill='#8CB9D5', d='M417.1,448.4c0.1,0,0.2,0,0.4,0l-4.7-18.8c-0.1,0-0.5,0.1-0.7,0.2L417.1,448.4z')
      path(fill='#A1C8E1', d='M416.3,447.9c-1.6-3.4-6.3-16.9-6.3-16.9c-0.3,0.4-0.4,0.6-0.1,1.6c0.1,0.2,5.4,13.5,5.9,14.7\
      C416.1,447.6,416.2,447.8,416.3,447.9z')
      path(fill='#94BAD3', d='M417.4,448.4c0.5,0,0.9-0.3,0.9-1.4c0-2.3-2.1-16.7-2.1-16.7c-1.2-0.9-2-0.8-3-0.7\
      C413.2,429.6,416,439.2,417.4,448.4z')
      path(fill='#B0CDED', d='M439.9,547.9c1.5-0.6,2.8-1.2,4.1-2.2c3-2.1,5.3-5.2,6.8-8.6l-1.4-8.9c-1.7,6.1-4.1,11.7-9.7,19.3\
      C439.7,547.7,439.8,547.9,439.9,547.9z')
      path(fill='#6B98C4', d='M388.4,518c-0.4,0.1-1.8-1.5-2.1-1.9c-0.4-0.4-0.8-1.5-0.1-3.3c0.5-1.8,7.6-23.5,7.6-23.5\
      c0.4-1.2,1.5-2.1,2.1-2.1c0.4,0,2.2,2,2.3,2.4c0.4,1.7-0.8,10.9-2.7,16.6C393.5,511.9,389.8,517.5,388.4,518z')
      path(fill='#B0CDED', d='M397.6,490.2c0.3,0.7-0.8,10.3-2.6,15.7c-2,5.8-6.1,11.4-6.6,11.1c0,0-1.5-1.4-1.8-1.8\
      c-0.2-0.4-0.5-1.7-0.1-2.8l7.2-22.3c0.4-1.2,1.8-2,2-1.9C395.8,488.3,397.4,489.4,397.6,490.2z')
    g
      path(fill='#2A5083', d='M387.4,513.1c0.7-0.5,2.4-0.2,2.2,1.8c-5.3,13,4.3,28.6,23.4,29.3c0.4-0.1,3.1,2.2,2.3,2.6\
      C393.4,548.1,380.6,530,387.4,513.1z')
      path(fill='#B0CDED', d='M414.8,546.3c0.6-0.1,0.1-0.7-0.5-0.6c-20.8,0.9-32.7-17.9-26.1-32.7c-0.1,0-0.2,0-0.4,0\
      C379.7,531.5,397.1,548.5,414.8,546.3z')
    g
      path(fill='#2A5083', d='M389,507.8c0.5-1.2,3.6,0,2.8,2c-7.5,14.9,3.4,35,27.8,38.1c0.5-0.1,3.6,2.5,2.8,3.4\
      C394.5,550.2,379.3,527.1,389,507.8z')
      path(fill='#B0CDED', d='M389.5,508.2c-10.9,20.8,10.1,42.6,32.4,42.4c0.7,0,0-0.6-0.3-0.6c-26.8-1.7-40.1-25-31.5-41.7\
      C390.5,507.8,389.9,507.5,389.5,508.2z')
    g
      path(fill='#2A5083', d='M396.1,494.4c-0.6,1.3-2,1.1-2.8,0c-0.2-7.9,8-21.1,47.6-4.8c2.1,1.4-2.6,2.5-4.5,1.9\
      C419.8,484.6,397.4,480.5,396.1,494.4z')
      path(fill='#B0CDED', d='M440,489.8c-22.9-8.6-44.8-12.4-46.3,5c0.2,0.3,0.5,0.4,0.7,0.4c0.5-14,17.6-15.7,45.2-4.7\
      C440.5,490.9,441.2,490.2,440,489.8z')
    g
      path(fill='#2A5083', d='M391.9,499.7c0,2.3,2.9,2.8,3.3-0.1c-0.1-12.7,26.8-12,49.3-2.6l-0.6-3.7\
      C417.9,482.5,392.1,484,391.9,499.7z')
      path(fill='#B0CDED', d='M392.8,500.7c0.7-12.9,19.3-16.7,51.4-6l-0.1-0.7c-22.6-8.3-50.3-11-51.8,6.1\
      C392.2,500.7,392.6,501.3,392.8,500.7z')
