svg.robot__hand(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 198 767', enable-background='new 0 0 198 767', xml:space='preserve')
  g
    g
      g
        rect(x='52.4', y='47.4', fill='#134E71', width='15.2', height='194')
        path(fill='#FFFFFF', d='M74.8,119.6c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8V65.9c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V119.6z')
        rect(x='89.7', y='143.6', fill='#134E71', width='15.2', height='97.7')
        rect(x='126.4', y='215.4', fill='#134E71', width='15.2', height='26')
        rect(x='163.5', y='215.4', fill='#134E71', width='15.2', height='26')
        path(fill='#FFFFFF', d='M74.8,214.7c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-72.9c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V214.7z')
        path(fill='#FFFFFF', d='M112.1,214.7c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-75.9c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V214.7z')
        path(fill='#FFFFFF', d='M148.8,214.7c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-68.5c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V214.7z')
        path(fill='#FFFFFF', d='M186,214.7c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-58.9c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V214.7z')
        rect(x='33.3', y='301.3', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -217.2561 123.8618)', fill='#134E71', width='15.2', height='45.7')
        path(fill='#FFFFFF', d='M74.8,43.3c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-28c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V43.3z')
        path(fill='#FFFFFF', d='M186,358.7c0,4.9-4,8.8-9,8.8H54.4c-5,0-9-4-9-8.8V240.8c0-4.9,4-8.8,9-8.8H177c5,0,9,4,9,8.8V358.7z')
        path(fill='#FFFFFF', d='M35.8,310.3c0,4.9-4,8.8-8.8,8.8h-12c-4.9,0-8.8-4-8.8-8.8v-103c0-4.9,4-8.8,8.8-8.8h12\
        c4.9,0,8.8,4,8.8,8.8V310.3z')
        path(fill='#FFFFFF', d='M118.3,742.3c0,4.9-4,8.8-8.8,8.8H91c-4.9,0-8.8-4-8.8-8.8V419.6c0-4.9,4-8.8,8.8-8.8h18.4\
        c4.9,0,8.8,4,8.8,8.8V742.3z')
        path(fill='#FFFFFF', d='M180.4,396.2c0,4.9-4,8.8-9,8.8H61.4c-5,0-9-4-9-8.8v-13.7c0-4.9,4-8.8,9-8.8h110.1c5,0,9,4,9,8.8V396.2z\
        ')
    path(fill='#FFFFFF', d='M155.5,738.2c0,3.4-2.6,6.1-5.9,6.1l0,0c-3.2,0-5.9-2.7-5.9-6.1V418.7c0-3.4,2.6-6.1,5.9-6.1l0,0\
    c3.2,0,5.9,2.7,5.9,6.1V738.2z')
