style
	include ../../../client/ai-robotics/card.css
	include ../../../client/ai-robotics/summary.css
	include ../../../client/ai-robotics/robot-head.css
	include ../../../client/ai-robotics/robot-hand.css
	include ../../../client/ai-robotics/follow-button.css

aside.ig-ai-robotics__container.o-grid-container(data-trackable='topic-summary')
	.ig-ai-robotics__inner.ig-ai-robotics__inner--topic-summary
		include _summary.jade
