@import 'next-sass-setup/main';
@import 'o-expander/main';

@include oFontsInclude(FinancierDisplayWeb);
@include oFontsInclude(FinancierDisplayWeb, $weight: bold);
@include oFontsInclude(FinancierTextWeb);
@include oFontsInclude(MetricWeb);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	background: oColorsGetPaletteColor('pink');
	color: oColorsGetPaletteColor('grey-tint5');
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);

	.ig-metacard {
		margin: 0;

		a,
		&__chart > span {
			text-decoration: none;

			color: oColorsGetPaletteColor('blue');

			&:hover {
				color: black;
			}
		}
	}
}
